%table.index
  %tr
    %th.center Page
    %th Body
    %th

  - @pages.each do |page|
    %tr
      %td.center= page.name.titleize
      %td= page.body.truncate(80)
      %td.actions
        = link_to "Edit", [:edit, :admin, page]
        =# link_to "Delete", [:admin, page], method: :delete