%ul.tabs.clearfix
  %li{ class: active == 'Pending' ? 'active' : nil }
    = link_to "Pending (5)", "#"
  %li{ class: active == 'Activities' ? 'active' : nil }
    = link_to "Activities", "#"
  %li{ class: active == 'Users' ? 'active' : nil }
    = link_to "Users", "#"