.dashboard.projects

  - if current_organisation
    = render "dashboard/tabs", active: "Projects"
    
    .title
      %h2
        %strong #{current_organisation.name}'s
        Projects

    = render "dashboard/projects/list"