.dashboard.projects

  - if current_organisation
    .title
      %h1 #{current_organisation.name}'s Dashboard
    = render "dashboard/tabs", active: "Projects"

    .title
      %h2
        %strong #{current_organisation.name}'s
        Projects

    = render "dashboard/projects/list"