#header
  .container
    .nav-bar.clearfix
      %a{ href: '/' }= image_tag "logo/white/dsi.png"

      %ul.links
        %li{ class: header_link_class('home') }
          %a{ href: '/' } Home
        %li
          %a{ href: 'http://content.digitalsocial.eu/about' } About
        %li{ class: header_link_class('search') }
          %a{ href: '/organisations-and-projects' } Organisations &amp; Projects
        %li
          %a{ href: 'http://content.digitalsocial.eu/resource-category/funding-and-support' } Funding &amp; Support
        %li
          %a{ href: 'http://content.digitalsocial.eu/resource-category/research' } Resources
        %li{ class: header_link_class('events') }
          %a{ href: '/events' } Events
        %li
          %a{ href: 'http://content.digitalsocial.eu/blog' } Blog
      
      .search
        %a{ href: '#' }
          %i.icon-search{ style: 'font-size: 20px;' }
        %form{ action: '/organisations-and-projects', method: 'get' }
          = text_field_tag :q, params[:q], placeholder: 'Search Organisation or Project', style: 'display: none;', autocomplete: :off

        :javascript
          $("#header .search a").click( function(e) {
            e.preventDefault();
            $("#header .search input").toggle().focus();
          });

          $("#header .search").click(function(e) {
            e.stopPropagation();
          });

          $("html").click(function() {
            $("#header .search input").hide();
          });



  