#header
  .container
    .nav-bar.clearfix
      %a{ href: '/' }= image_tag "logo/white/dsi-logo-small.png"

      %ul.links
        %li.active
          %a{ href: '/' } Home
        %li
          %a{ href: '/' } About
        %li
          %a{ href: '/' } Organisations&Projects
        %li
          %a{ href: '/' } Funding&Support
        %li
          %a{ href: '/' } Research
        %li
          %a{ href: '/' } Events
        %li
          %a{ href: '/' } Blog



  