.field-with-notes
  .fields
    - if f.object.persisted?
      = f.input :name, label: 'Name of your organisation', input_html: { autocomplete: :off }

    - else
      = f.input :name, label: 'Name of your organisation', input_html: { class: 'organisation-auto-suggest', autocomplete: :off }
      
  .notes
    %p We are interested in hearing from both formal and informal groups.

= render 'suggestions', button_text: 'Request to join', action_url_template: '/organisations/:organisation_id/request_to_join'