.bar
  .fill{ style: "width: #{project.progress_percent}%;", class: (project.progress_percent == 100) ? 'green' : nil }
    %span.text
      #{project.progress_percent}%

      - if project.progress_percent > 25
        complete