html, body {
  height: 100%;
}

input[type="submit"] {
  -webkit-appearance:none !important;
}

#out-of-spec {
  background: red;
  color: white;
  padding: 10px;
}

body {
  font-family: $scene-medium;
  font-size: 18px;
  color: #333;
  background: #fff;
  padding-bottom: 60px;
}

.row {
  @include row; // the grid mixin.
}

.flash {
  padding: 16px 0;
  margin: 0;
  color: rgba(255,255,255,0.9);
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  background: $green;

  &.alert {
    background: $red;
    
  }
}

a {
  @include transition(all, 0.1s);
  color: $blue;

  &:hover {
    text-decoration: none;
  }

  &.delete {
    color: $red;
  }
}

p {
  margin-bottom: 1.5em;
  line-height: 1.5;
}


ol, ul {
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 1.5em;

  li {
    line-height: 1.5;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $scene-bold;
  font-weight: normal;
}

h1 {
  font-size: 28px;
  //color: #fff;
  margin-bottom: 36px;
}

h2 {
  font-size: 36px;
  margin-bottom: 36px;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

h1 + h2 {
  margin-top: -36px;
  font-size: 30px;
  margin-bottom: 48px;
}

strong {
  font-weight: normal;
  font-family: $scene-bold;
}

.container {
  @include container;
}

.clearfix {
  zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

}

.lcol {
  float: left;
  width: 540px;
}

.rcol {
  float: right;
  width: 300px;
}

#main {
  display: block;
  padding: 48px 0;

  &.grey {
    background: #f1f3f2;
  }

  &.no-padding {
    padding: 0;
  }
}

.leaflet-control-attribution {
  display: none;
}

#key {
  position: absolute;
  left: 0;
  top: 147px;
  z-index: 1001;

  .handle {
    width: 42px;
    background: #111;
    height: 195px;
    color: #fff;
    position: absolute;
    display: block;
    top: 0;
    left: 220px;
    
    .message {
      font-size: 18px;
      @include rotate(-90);
      position: absolute;
      left: -28px;
      bottom: 50px;
      width: 100px;
      letter-spacing: 1px;
    }

    .hide {
      display: none;
    }
    
  }

  .main {
    position: absolute;
    background: #111;
    height: 600px;
    width: 192px;
    left: 0;
    top: 0;
  }
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.25);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,0.25);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(0,0,0,0.25);
}

:-ms-input-placeholder {  
  color: rgba(0,0,0,0.25);
}