- unless current_organisation.primary_site
  %h3 Add a Location
  .respondables
    = render "users/dashboard/respondables/address"


- if current_organisation.has_respondables?
  .respondables

    %h3 Requests/invites

    - current_organisation.respondables.each do |respondable|
      = render "users/dashboard/respondables/#{respondable.class.to_s.underscore}", respondable: respondable
