%h1 Edit organisation

= simple_form_for @organisation do |f|
  
  = render 'organisations/fields/name', f: f
  = render 'organisations/fields/advanced', f: f

  .wizard-button-wrapper
    = f.button :submit, 'Update organisation'