%h1 Organisations
- if current_user
  = link_to "Add another organisation", organisations_build_new_organisation_path

%hr

%ul
- @organisations.each do |o|
  %li= link_to o.name, organisation_path(o)
