.index
  %h1 Organisations

  %ul.organisations
    - @organisations.each do |o|
      %li.clearfix
        .image
          = image_tag o.image_url

        .details
          .header= link_to o.name, o
          .subheader= o.address_str
