.index
  %h1 Organisations

  %ul.organisations
    - @organisations.each do |o|
      %li.clearfix
        .image
          = image_tag o.image_url

        .details
          .header= o.name
          .subheader= o.address_str

        .action
          = link_to 'View', o, class: 'button'
