<script>
  $(function() {

    var defaultCenter = [45,15];
    var defaultZoom = 5;
    var selectedZoom = 16;
    var markers;
    var markerGuids = {};
    var currentLines = {};
    var currentMaxCount = 0;
    var maxWeight = 8;
    var maxOpacity = 0.666;

    var map = L.mapbox.map('home-map', "<%= Digitalsocial::MAPBOX_HOME_MAP_ID %>", {
      scrollWheelZoom: true
    }).setView(defaultCenter,defaultZoom);

    $.ajax({
      type: 'GET',
      url: '/organisations/map_index',
      success: function(data){
        addOrganisationPins(data.organisations);
      },
      dataType: 'json'
    });

    map.on('popupopen', function(e) {
      if (e.popup._source._guid) {
        loadPinPopupContent(e);
      } else if (e.popup._source._childCount) {
        loadClusterPopupContent(e);
      }
    });

    $(document.body).on('click', 'a.org-zoom', function(e) {
      var guid = e.target.hash.substring(1);
      var marker = getMarkerFromGuid(guid);

      map.setZoom(18);
      map.panTo(marker._latlng);
      
      //map.closePopup().openPopup(marker._popup);
      marker.openPopup();

      e.preventDefault();
      return false;
    });

    function loadPinPopupContent(e) {
      var guid = e.popup._source._guid;

      $.ajax({
        type: 'GET',
        url: '/organisations/'+guid+'/map_show',
        beforeSend: function(){
          e.popup.setContent('<div class="spinner"></div>');
        },
        success: function(data){
          setPinPopupContent(data.organisation, e.popup);
        },
        error: function() {
          e.popup.setContent('<div class="popup-error">Oops - something went wrong.</div>');
        },
        dataType: 'json'
      });

      if (isMobile()) {
        hideMobilePanels();
      } else {
        slideOutPanels();
      }
    }

    function loadClusterPopupContent(e) {

      var guids = [];
      $.each(e.popup._source.getAllChildMarkers(), function(i, marker){
        guids.push(marker._guid);
      });

      $.ajax({
        type: 'GET',
        url: '/organisations/map_cluster',
        data: {
          guids: guids
        },
        beforeSend: function(){
          e.popup.setContent('<div class="spinner"></div>');
        },
        success: function(data){
          
          setClusterPopupContent(data.organisations, e.popup);
        },
        error: function() {
          e.popup.setContent('<div class="popup-error">Oops - something went wrong.</div>');
        },
        dataType: 'json'
      });

      if (isMobile()) {
        hideMobilePanels();
      } else {
        slideOutPanels();
      }
    }

    map.on('zoomstart', function(e){
      clearLines();
    });

    $('.show-more a').click(function(e){
      slideInPanels();
      e.preventDefault();
      return false;
    });

    $('a.hide-info').click(function(e) {
      e.preventDefault();
      slideOutPanels();
      return false;
    });

    $('a.hide-info-mobile').click(function(e) {
      e.preventDefault();
      hideMobilePanels();
      return false;
    });

    $('a.show-info-mobile').click(function(e) {
      e.preventDefault();
      showMobilePanels();
      return false;
    });



    function addOrganisationPins(organisations) {

      markers = new L.MarkerClusterGroup({
        showCoverageOnHover: false,
        removeOutsideVisibleBounds: false,
        zoomToBoundsOnClick: false,
        iconCreateFunction: function(cluster) {
          var childCount = cluster.getChildCount();

          var c = ' marker-cluster-';
          var iconSize;
          if (childCount < 2.5) {
            c += 'x-small';
            iconSize = 20;
          } else if (childCount < 5) {
            c += 'small';
            iconSize = 24;
          } else if (childCount < 7.5) {
            c += 'medium';
            iconSize = 30;
          } else if (childCount < 10) {
            c += 'large';
            iconSize = 36;
          } else {
            c += 'x-large';
            iconSize = 48;
          }

          return new L.DivIcon({ html: '<div><span>' + childCount + '</span></div>', className: 'marker-cluster' + c, iconSize: new L.Point(iconSize, iconSize) });
        }
      });

      markers.on('animationend', function(e){
        setPartnerLines();
        drawPartnerLines();
      });

      markers.on('clustermouseover', function (a) {
        highlightMarkerLines(a.layer);
      });

      markers.on('clustermouseout', function (a) {
        unhighlightMarkerLines(a.layer);
      });

      // markers.on('clusterdblclick', function (a) {
      //   a.layer.zoomToBounds();
      // });

      markers.on('clusterclick', function (a) {
        a.layer.bindPopup('').openPopup();
      });

      $.each(organisations, function(i, org) {
        var m = L.marker(new L.LatLng(org.lat, org.lng), {
          icon: new L.Icon({
            iconSize: new L.Point(10, 16),
            iconUrl: "assets/home/marker.png"
          })
          // icon: new L.DivIcon({
          //   iconSize: new L.Point(10, 10),
          //   color: '#0078A8'
          // })
        }).bindPopup('', {
          closeButton: false
        }).on('mouseover', function(mkr){
          this._icon.src = "assets/home/marker-hover.png";
          highlightMarkerLines(this);
        }).on('mouseout', function(mkr){
          this._icon.src = "assets/home/marker.png";
          unhighlightMarkerLines(this);
        });
        
        m._guid = org.guid;
        markers.addLayer(m);
        
        markerGuids[org.guid] = {};
        markerGuids[org.guid].marker = m;
      });

      map.addLayer(markers);
      getPartners();
      
      
    }

    function highlightMarkerLines(marker) {
      if (!marker._lines) return false;

      $.each(marker._lines, function(i, line) {
        line.setStyle({ color: '#F39200' });
      });
    }

    function unhighlightMarkerLines(marker) {
      if (!marker._lines) return false;

      $.each(marker._lines, function(i, line) {
        line.setStyle({ color: '#999999' });
      });
    }

    function setPinPopupContent(organisation, popup) {

      var content = '';
      content += '<h3><a href="/organisations/'+organisation.guid+'">'+organisation.name+'</a></h3>';

      if (organisation.address) {
        content += '<p class="address">'+organisation.address+'</p>';
      }

      if (organisation.projects.length > 0) {
        content += '<ul class="projects">';
        $.each(organisation.projects, function(i, project) {
          content += '<li><a href="/projects/'+project.guid+'">'+project.name+'</a></li>';
        });
        content += '</ul>';
      }

      popup.setContent(content);

    }

    function setClusterPopupContent(organisations, popup) {
      var content = '';

      content += '<ul class="organisations">';
      $.each(organisations, function(i, organisation) {
        content += '<li><a class="org-zoom" href="#'+organisation.guid+'">'+organisation.name+'</a></>';
      });
      content += '</ul>';

      popup.setContent(content);
    }

    function isMobile() {
      var mobile = false;
      if( window.matchMedia && window.matchMedia( "(max-width: 767px)" ).matches) {
        mobile = true;
      }
      return mobile;
    }

    function slideOutPanels() {
      $('.logo').css({ top: "-128px" });
      $('.info').css({ right: "-898px" });
      setTimeout(function(){
        $('.info').hide();
        $('.small-info').fadeIn();
      }, 500);
    }

    function slideInPanels() {
      $('.info').show();
      $('.small-info').fadeOut();
      setTimeout(function(){
        $('.info').css({ right: "0" });
        $('.logo').css({ top: "0" });
      }, 250);
    }

    function showMobilePanels() {
      $('.mobile-info').show();
      $('.mobile-small-info').hide();
    }

    function hideMobilePanels() {
      $('.mobile-info').hide();
      $('.mobile-small-info').show();
    }

    function getPartners() {
      $.ajax({
        type: 'GET',
        //url: '/organisations/map_partners',
        url: '/organisations/map_partners_static',
        success: function(data){
          $.each(data.organisations, function(i, org) {
            markerGuids[org.guid].partners = org.partners;
          });
          setPartnerLines();
          drawPartnerLines();
        },
        dataType: 'json'
      });
    }

    function clearLines() {
      for (i in map._layers) {
        if (map._layers[i]._path != undefined) {
          try {
            map.removeLayer(map._layers[i]);
          }
          catch(e){
            console.log("problem with " + e + map._layers[i]);
          }
        }
      }
    }

    function drawLine(markerA, markerB, count) {

      var line = new L.Polyline([markerA._latlng, markerB._latlng], {
        color: '#999999',
        weight: lineWeightForCount(count),
        opacity: lineOpacityForCount(count),
        smoothFactor: 1
      }).bindPopup('').on('mouseover', function(){
        this.setStyle({ color: '#F39200' });
      }).on('mouseout', function(){
        this.setStyle({ color: '#999999' });
      }).addTo(map);
      
      return line;
    }

    function lineWeightForCount(count) {
      return (count / currentMaxCount) * maxWeight;
    }

    function lineOpacityForCount(count) {
      //return 0.15;
      return (count / currentMaxCount) * maxOpacity; 
    }

    function drawPartnerLines() {
      $.each(currentLines, function(i, line){
        var newLine = drawLine(line.markerA, line.markerB, line.count);
        addLineToMarker(line.markerA, newLine);
        addLineToMarker(line.markerB, newLine);
      });
    }

    function addLineToMarker(marker, line) {
      if (!marker._lines) marker._lines = [];
      marker._lines.push(line);
    }

    function setPartnerLines() {
      // Reset line variables
      currentLines = {};
      currentMaxCount = 0;

      $.each(markerGuids, function(i, org){
        
        // Loop through each of the org's partners
        $.each(org.partners, function(j, partner){
          visibleMarkerA = markers.getVisibleParent(org.marker);
          visibleMarkerB = markers.getVisibleParent(getMarkerFromGuid(partner[0]));
          

          var visibleMarkers = [visibleMarkerA._latlng, visibleMarkerB._latlng];

          // If we have already set a line for this combination of markers increase the count (weight)
          if (currentLines[visibleMarkers]) {
            currentLines[visibleMarkers].count += 1;
          } 
          // Else initialise it
          else {
            currentLines[visibleMarkers] = {};
            currentLines[visibleMarkers].count = 1;  
            currentLines[visibleMarkers].markerA = visibleMarkerA;
            currentLines[visibleMarkers].markerB = visibleMarkerB;
          }

          // Ditch this
          if (currentLines[visibleMarkers].count > currentMaxCount) {
            currentMaxCount = currentLines[visibleMarkers].count;
          }          
   
        });
        
      });

    }

    function getMarkerFromGuid(guid) {
      return markerGuids[guid].marker;
    }

  });

</script>