.info{style: 'width 100%;'}
  .text{style: 'width 100%;'}
    :markdown
      We are setting up a network of organisations that use the internet for social good.

    :markdown
      This could range from running a social tech incubator or organising events to delivering a service.

      You can join the network by clicking 'get on the map’ below (it only takes a couple of minutes). [Read more about the project](/about)

    .cta.clearfix
      .put-on-map
        = link_to "Get on the map", [:organisations, :build, :new_user], class: 'button button-front-page clear'
    %br
    %br

    = render 'site/index/toggle_links'
