.info
  .text
    :markdown
      We're setting up a network of organisations that use the Internet for social good.

    %ul
      %li Be part of a growing community of Digital Social Innovation
      %li Inform better policy across the EU
      %li Showcase your work and network to potential funders and investors

    :markdown
      It just takes a few minutes to get started. [Read More](/about).

    .cta.clearfix
      .put-on-map
        = link_to "Put your organisation on the map", [:organisations, :build, :new_user], class: 'button button-front-page clear'
      .log-in
        Already signed up? #{link_to "Log in", "/users/sign_in"}.
  .panel-foot
    %span.credits
      &copy; 2013 #{link_to 'Digital Social Innovation', '/about'}. Built by #{link_to 'Swirrl', 'http://swirrl.com'}.
