.dashboard
  
  - if current_organisation.has_respondables?
    %h2 Requests/invites for #{current_organisation.name}

    .respondables
      - current_organisation.respondables.each do |respondable|
        = render "users/respondables/#{respondable.class.to_s.underscore}", respondable: respondable
