.dashboard

  %h2 #{current_organisation.name}'s Dashboard

  = render "users/dashboard/respondables"
  
  .dashboard-row.clearfix
    = render "users/dashboard/projects"
    = render "users/dashboard/users"