#unsubscribe
  #content
    .title
      %h1 Digital Social Innovation

    :markdown
      We have unsubscribed you from our email notifications.

    = link_to '&laquo; Return to the homepage'.html_safe, '/', class: 'button button-green'
