%figcaption.show-row.hide
  %h3= root_name
  %h4 Organisation Types (size indicates number of activities)
  .left-column
    %ul
      %li.academia-and-research Academia and Research
      %li.business Business
      %li.government-and-public-sector Government and Public Sector
  .right-column
    %ul
      %li.grass-roots-organisation-or-community-network Grass Roots Organisation or Community Network
      %li.social-enterprise-charity-or-foundation Social Enterprise, Charity or Foundation
      %li.undefined Unknown

  .left-column
    %h4 Activities
    %ul.activities
      %li.activity
        Activity
  .right-column
    %h4.instructions Click an organisation or activity to explore.
