%figcaption.show-row.hide
  %h3= root_name
  %h4 Organisation Types (size indicates number of projects)
  .left-column
    %ul.legend
      %li.academia-and-research Academia and Research
      %li.business Business
      %li.government-and-public-sector Government and Public Sector
  .right-column
    %ul.legend
      %li.grass-roots-organisation-or-community-network Grass Roots Organisation or Community Network
      %li.social-enterprise-charity-or-foundation Social Enterprise, Charity or Foundation
      %li.undefined Unknown

  .left-column
    %h4 Projects
    %ul.legend.activities
      %li.activity
        Project
  .right-column
    = render 'shared/share_links'
