- disqus = local_assigns[:disqus] || false

.page
  .title
    %h1
      = link_to page.name, page_path(page.page_category, page)

  :markdown
    #{page.body}

  - if disqus
    = render "application/disqus", title: page.name