%h1 Edit Activity

= simple_form_for @project do |f|
  = render "projects/fields/basic", f: f
  = render "projects/fields/advanced", f: f

  .wizard-button-wrapper
    = f.button :submit, 'Update activity'.html_safe