.index
  .title
    %h1 Activities
  .clearfix

  %ul.activities
    - @projects.each do |p|
      %li.clearfix
        .image
          = image_tag p.image_url

        .details
          .header= link_to p.name, p
          .subheader= p.description

        
