.index
  %h1 Activities

  %ul.activities
    - @projects.each do |p|
      %li.clearfix
        .image
          = image_tag p.image_url

        .details
          .header= p.name
          .subheader= p.description

        .action
          = link_to 'View', p, class: 'button'
