#header.clearfix
  .logo
    %a{ href: '/' }
      %h1 Digital Social Innovation

  .menu
    %a{ href: '/about-us' } About us
    %a{ href: '/events' } Events
    %a{ href: '/case-studies' } Case studies
    %a{ href: '/blog' } Blog