#partners
  .container
    %a.nesta{ href: 'http://www.nesta.org.uk/' }
    %a.esade{ href: 'http://www.esade.edu/' }
    %a.future-everything{ href: 'http://futureeverything.org/' }
    %a.iri{ href: 'http://www.iri.centrepompidou.fr/en/' }
    %a.waag{ href: 'http://waag.org/en' }
    %a.swirrl{ href: 'http://www.swirrl.com/' }
    