#sidebar.rcol
  %p.intro
    We want to learn about people, organisations and networks involved in Digital Social Innovation in Europe. If that’s you, or if you want to find out more about how to be involved; please get in touch:

  %p.twitter
    %a{ href: 'https://twitter.com/digi_si' } @digi_si

  %p.mail
    %a{ href: 'mailto:contact@digitalsocial.eu' } contact@digitalsocial.eu

  %a.button{ href: 'mailto:contact@digitalsocial.eu' } TAKE PART