#about
  #content
    .title
      %h1 Digital Social Innovation

    :markdown
      This site is part of an EU wide research project on Digital Social Innovation (DSI).

      The European Commission has funded the project to build a living map of organisations that use digital technologies for social innovation. Led by [Nesta](http://nesta.org.uk), the project partners are [Esade](http://esade.edu), [FutureEverything](http://futureeverything.org), [IRI](http://www.iri.centrepompidou.fr/en/), [Swirrl](http://swirrl.com) and [Waag Society](http://waag.org/en).

      By joining the network, we're asking you to give us some information about your organisation. This information will be visually represented on a map and the data you provide us will be freely open to everyone and published as [Linked Open Data](http://data.digitalsocial.eu) under a [Creative Commons Public Domain Dedication licence](http://creativecommons.org/publicdomain/zero/1.0/).

      We will use the information you give us to:

      * Build a community of digital social innovators across Europe
      * Understand emerging technology trends and the potential opportunities for supporting them better
      * Write policy recommendations to the European Commission

      It's worth checking our [Terms of Use](/terms) which we'll ask you to sign up to.

      Joining the network is very easy and it will take just a few minutes to #{link_to 'get started', [:organisations, :build, :new_user]}.

      If you have any questions please email [contact@digitalsocial.eu](mailto:contact@digitalsocial.eu).
