#about

  #content
    %h1 Digital Social Innovation

    :markdown
      This site is part of an EU wide research project on Digital Social Innovation (DSI).

      The European Commission has funded the project to build a living map of organisations that use digital technologies for social innovation.

      By joining the network, we’re asking you to give us some information about your organisation. This information will be visually represented on a map and the data you provide us will be freely open to everyone and published as [Linked Open Data](http://data.digitalsocial.eu).
      We will use the information you give us to:

      * Build a community of digital social innovators across Europe
      * Understand emerging technology trends and the potential opportunities for supporting them better
      * Write policy recommendations to the European Commission

      It’s worth checking our [Terms & Conditions](/terms-and-conditions) which we’ll ask you to sign up to.

      Joining the network is very easy and it will take just a few minutes to get started.

      If you have any questions please email [contact@digitalsocial.eu](mailto:contact@digitalsocial.eu).
