:css
  .ui-dialog.ui-widget { z-index:9999; font-size:14px; font-family:'Scene Std', sans-serif;}
  .ui-dialog.ui-widget h4 { margin-bottom: 14px}
#viz

#dialog{style:"display:none;"}
  :markdown

    Interested in Digital Social Innovation in Europe? Come and join our workshop: 

    **Shaping the Future of Digital Social Innovation on June 29th in Brussels**.

    The workshop is dedicated to sharing expertise and furthering understanding of Digital Social Innovation (DSI) in Europe, and is one of the public activities of the DSI4Europe project, a support action in the H2020 Collective Awareness Platforms strand.  

    For more information and registration, [click here](https://www.eventbrite.nl/e/dsi4eu-shaping-the-future-of-digital-social-innovation-in-europe-tickets-24925801744)

:javascript
  $( "#dialog" ).dialog({title:'Workshop'});

