#blog
  #content

    .blog-post.clearfix
  
      .title
        %h1 What we learned about Digital Social Innovation at the Open Knowledge Conference
        %h2 29th October 2013
        
      .blog-content
        :markdown
      
          Six months in to our research project on Digital Social
          Innovation (DSI) we are in the midst of preparing out fist
          interim study report, which we will publish in the next
          couple of months. On September 16th innovation for the first
          time to discuss and challenge our work to date. Alongside
          this we also [ran three
          sessions](http://okcon.org/more-open-topics/dsi/) at the
          recent Open Knowledge Conference ([OKCON](http://okcon.org/)) in Geneva, to
          explore what the open knowledge community would like to get
          out of our research.
          
          Discussions naturally went in different directions, covering the
          opportunities in different technologies from open hardware to open
          data and the role of DSI in to help achieve outcomes in different
          parts of society, from better care solutions for an ageing population
          to new ways of growing democracy and participation.
          
          However, aside from the very encouraging general interest in the
          research and recognition of the need to create a much better knowledge
          base on what DSI is and how it can be supported, there were three
          recurring challenges that kept cropping up in discussions with the AG
          members and OKCON participants:
        
          * **What are the emerging socio-economic models for Digital Social
            Innovation?** As with many social innovations the biggest challenge for
            Digital Social Innovation(s) is the creation of sustainable and viable
            systems. For instance our Advisory Group pointed out that the mere use
            of open digital platforms for collaboration does not go far towards
            real social innovation in our present world. What is truly disruptive
            (in the positive sense) is the conjunction of digital tools and a
            culture and practice of sharing. It also probably calls for major
            changes in the macro-economic and legal environment (for instance
            re-defining growth, economic indicators and sustainability). New
            business models and socio-economic mechanisms based on the
            valorisation of social data and common information resources for
            collective use and public benefit are starting to clearly emerge.
            
            However, big questions still remain around how many of the
            inspiring but very small scale initiatives will be able to
            demonstrate their value and compete or collaborate with
            existing systems across Europe. How will a personal
            network like [Tyze](http://tyze.com/) integrate with
            traditional social care provision; how will sharing
            platforms like [Peerby](https://peerby.com/) finance their
            service; and what will it take for new models for
            crowdsourcing legislation such as [Open
            Ministry](http://openministry.info/) or [Liquid
            Feedback](http://liquidfeedback.org/) to demonstrate it
            presents a viable alternative to experiment open and
            direct democracy, transforming the traditional models of
            representative democracy?  Our research needs to begin to
            unpick how these and the other inspiring examples we are
            researching answer these questions.
          
          * **An Emerging grassroots civic innovation ecosystem in
            Europe: How can different types of organisations involved
            in supporting and growing DSI in Europe be supported in
            order to strengthen synergies across Europe?** A big part
            of this research is crowdmapping networks of organisations
            involved in supporting DSI or delivering DSI services (if
            you haven’t already, have a look at [our network map and
            join the community](http://digitalsocial.eu/) we convened
            our first Advisory Group of experts on different aspects
            of digital social if this is you). This crowdmapping
            exercise is helping us to group DSI projects according to
            their contribution to growing technology trends such as
            open networks, open data, open hardware, open source, and
            knowledge co-production networks. This exercise is showing
            that it is crucial for Europe to invest in this emerging
            and vibrant bottom-up innovation ecosystem.
            
            Our research and the map will help to understand who the
            organisations are, where they are based, what strong and
            networks exist but; it won’t give us refined
            characteristics of the organisations and why they use
            digital technologies. In order to develop practical
            lessons for the wider social innovation community our work
            on these case studies will need to unpick the rationale
            behind cities like [Vienna](https://open.wien.at/site/)
            and [Santander](http://www.smartsantander.eu/) pioneering
            new practices in Open Data and open sensor networks, or
            what drives organisations like
            [Mysociety](http://www.mysociety.org/) and [Open Knowledge
            Foundation](http://okfn.org/) to develop services like
            [Fixmystreet](http://www.fixmystreet.com/) and
            [CKAN](http://ckan.org/).
            
          * What are the different types of network effects and types
            of collaboration that are enabled by DSI? Digital Social
            Innovation enables new forms of collaboration and/or
            delivers a social impact through the creation of a
            ‘network effect’ (for a study on Digital Social Innovation
            with a broader scope, have a look at [Tech for
            Good](http://www.nominettrust.org.uk/news-events/news/tech-good-challenge-uncovers-uk%E2%80%99s-most-promising-social-ventures)
            by project by our friends at the [Nominet
            Trust](http://www.nominettrust.org.uk/)). However, to
            properly understand the potential in online collaboration,
            we need to recognise and unpick in much more detail the
            different types of collaboration and participation DSI
            activities ask of people. There is a huge difference
            between a simple action like an e- vote on
            [Avaaz](http://www.avaaz.org/en/) vs. deeper engagement
            via peer support through platforms like
            [Tyze](http://tyze.com/) or taking part in a Hackathon to
            unpick open public data.
            
            These are some of the big questions and challenges to DSI
            we have had to date and hopefully our research, together
            with the active engagement of the DSI community, will
            begin to answer these.  What would you like to come out of
            our research in to DSI? Let us know in the comments below
            or via our twitter account
            [@Digi_Si](https://twitter.com/digi_si) or email us at
            [Digital.Social@nesta.org.uk](mailto:Digital.Social@nesta.org.uk).

      .blog-meta
        = image_tag "people/peter-thirup-baeck.png", alt: "Peter Thirup Baeck"
        %p.author Peter Thirup Baeck
        %p.author-role Policy Advisor
        %p.author-company= link_to "Nesta", "http://www.nesta.org.uk"

    .blog-post.clearfix

      .title
        %h1 Understanding the potential in digital social innovation
        %h2 27th June 2013

      .blog-content
        :markdown
          Following the nuclear catastrophe at the Fukushima nuclear power plant in March 2011,
          Safecast, a global sensor network for collecting and sharing radiation measurements,
          used crowdfunding platform Kickstarter to raise money for
          [a project that would help them crowdsource radiation levels in Japan](http://www.fastcoexist.com/1680065/safecasts-new-geiger-counter-lets-anyone-collect-and-share-data-on-radiation).
          
          This allowed volunteers to upload their own Geiger counter readings to a
          [crowdsourced map](http://blog.safecast.org/maps/) to provide accurate radiation
          levels to the public.
          
          
          From their project the Safecast team learned that most of the different Geiger counters
          used to measure radiation during their project were out of date or too poor quality.
          With this insight in mind, the team thought up the idea for the Safecast X highly
          sensitive Geiger counter (it detects alpha and beta radiation as well as the standard
          gamma).
          
          However, the team were short the minimum $4,000 it would take to develop this
          new model. The team [once again turned to the crowds](http://www.kickstarter.com/projects/seanbonner/safecast-x-kickstarter-geiger-counter/comments),
          who responded with both feedback on what they would like from the Geiger counter in
          addition to what the team proposed, such as a USB connection and the ability to use it
          with mobile apps. Within the close of its campaign the Geiger counter had raised
          $104,2681. This money will provide for 250 Geiger counters to be used all over the world
          by Safecast's volunteers.
          
          To date, the volunteers have mapped radiation levels of more than 3 million data points,
          providing a comprehensive and accurate dataset that was inconceivable before the Safecast
          project.
          
          Through the use of crowdfunding, crowdsourcing, open and user generated data the Geiger
          counter is in many ways a mini study of some of the many projects and campaigns that use
          the Internet to bring people together to solve social problems in new ways.
          
          Over the last couple of months we have been working on identifying examples of Digital
          Social Innovations (DSI)  like the Safecast Geiger counter, that use digital technologies
          to bring people together to solve social challenges. Despite this great example of people
          coming together, the majority of DSI projects are still relatively small scale. A few,
          like [www.avaaz.org](http://www.avaaz.org) and [www.change.org](www.change.org) are just
          beginning to achieve mainstream success.
          
          Through the next 18 months of research we hope to shine a light on the potential for
          digital social innovation, who the people and organisations are that are fostering its
          growth and finally what policy makers and others might do to encourage more digital
          innovation for social good.
          
          We are still looking for great examples of DSI and to learn more about the organisations
          working on DSI, from grassroots networks to foundations and government departments. If
          you know of a great case study or if you are working on DSI then please send us a
          [mail](mailto:contact@digitalsocial.eu) or [tweet](https://twitter.com/digi_si).
          
          **Here are our criteria:**
          
          * Achieve positive social impact from their service
          * Are disruptive in their use of online/digital tools or methods
          * Demonstrate a "network effect" by facilitating user collaboration or the sharing of user data
          * Operate at scale i.e  the larger number of users the service has, the better

      .blog-meta
        = image_tag "people/peter-thirup-baeck.png", alt: "Peter Thirup Baeck"
        %p.author Peter Thirup Baeck
        %p.author-role Policy Advisor
        %p.author-company= link_to "Nesta", "http://www.nesta.org.uk"
      
