.title
  %h1 Blog

#blog

  #content

    .blog-post.clearfix

      %h1 Understanding the potential in digital social innovation
      %h2 27th June 2013

      .blog-meta
        = image_tag "people/peter-thirup-baeck.png", alt: "Peter Thirup Baeck"
        %p.author Peter Thirup Baeck
        %p.author-role Policy Advisor
        %p.author-company= link_to "Nesta", "http://www.nesta.org.uk"

      .blog-content

        :markdown
        
          Following the nuclear catastrophe at the Fukushima nuclear power plant in March 2011,
          Safecast, a global sensor network for collecting and sharing radiation measurements,
          used crowdfunding platform Kickstarter to raise money for
          [a project that would help them crowdsource radiation levels in Japan](http://www.fastcoexist.com/1680065/safecasts-new-geiger-counter-lets-anyone-collect-and-share-data-on-radiation).

          This allowed volunteers to upload their own Geiger counter readings to a
          [crowdsourced map](http://blog.safecast.org/maps/) to provide accurate radiation
          levels to the public.  
        
        
          From their project the Safecast team learned that most of the different Geiger counters
          used to measure radiation during their project were out of date or too poor quality.
          With this insight in mind, the team thought up the idea for the Safecast X highly
          sensitive Geiger counter (it detects alpha and beta radiation as well as the standard
          gamma).
        
          However, the team were short the minimum $4,000 it would take to develop this
          new model. The team [once again turned to the crowds](http://www.kickstarter.com/projects/seanbonner/safecast-x-kickstarter-geiger-counter/comments),
          who responded with both feedback on what they would like from the Geiger counter in
          addition to what the team proposed, such as a USB connection and the ability to use it
          with mobile apps. Within the close of its campaign the Geiger counter had raised
          $104,2681. This money will provide for 250 Geiger counters to be used all over the world
          by Safecast’s volunteers.

          To date, the volunteers have mapped radiation levels of more than 3 million data points,
          providing a comprehensive and accurate dataset that was inconceivable before the Safecast
          project. 
        
          Through the use of crowdfunding, crowdsourcing, open and user generated data the Geiger
          counter is in many ways a mini study of some of the many projects and campaigns that use
          the internet to bring people together to solve social problems in new ways.
        
          Over the last couple of months we have been working on identifying examples of Digital
          Social Innovations (DSI)  like the Safecast Geiger counter, that use digital technologies
          to bring people together to solve social challenges. Despite this great example of people
          coming together, the majority of DSI projects are still relatively small scale. A few,
          like [www.avaaz.org](http://www.avaaz.org) and [www.change.org](www.change.org) are just
          beginning to achieve mainstream success. 
        
          Through the next 18 months of research we hope to shine a light on the potential for
          digital social innovation, who the people and organisations are that are fostering its
          growth and finally what policy makers and others might do to encourage more digital
          innovation for social good.
        
          We are still looking for great examples of DSI and to learn more about the organisations
          working on DSI, from grassroots networks to foundations and government departments. If
          you know of a great case study or if you are working on DSI then please send us a
          [mail](mailto:contact@digitalsocial.eu) or [tweet](https://twitter.com/digi_si). 
        
          **Here are our criteria:**

          * Achieve positive social impact from their service
          * Are disruptive in their use of online/digital tools or methods
          * Demonstrate a "network effect" by facilitating user collaboration or the sharing of user data
          * Operate at scale i.e  the larger number of users the service has, the better
