= render 'shared/sub_nav', navigation: community_menu

#community
  #content
    .title
      %h1 Community

      :markdown
        Explore our growing community of [organisations](/organisations) and [activities](/activities) involved in digital social innovation.

        We also maintain a list of [upcoming events](/events) related to digital social innovation
