.title
  %h1 Events

#events
      
  #content

    %ul.timeline
      %li.year
        %span 2013

      %li.month
        %span April
      
      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.thegovlab.org" } The GovLab Experiment, New York
          %p.date April 18-19
          

      %li.month
        %span May

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.capdigital.com/evenements/enmi" } 22nd Annual International World Wide Web Conference, Rio de Janeiro
          %p.date  May 13-17
          
      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.nosuchcon.org" } NoSuchCon, France
          %p.date May 15-17

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://mixart-myrys.org/programmation1/thsf-2013-confereces" } Hacker Space Factory, Toulouse
          %p.date May 22-26

      %li.month
        %span June

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://ouishare.net/events/isarcamp-share-munich" } Ouishare, IsarCamp, Munich
          %p.date  June 7-8
          
      %li.event
        .event-content
          %p.name 
            %a{ href: "http://sheffdocfest.com/" } Sheffield Doc/Fest, Sheffield
          %p.date June 12-16

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.gamesforchange.org/" } Games for Change Transmedia award, New York
          %p.date June 17-19
          
      %li.event
        .event-content
          %p.name 
            %a{ href: "http://ec.europa.eu/information_society/digital-agenda/daa" } Digital Agenda Assembly, Dublin
          %p.date  June 19-20

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.socialinnovationexchange.org" } SIX event, Philadelphia
          %p.date June 24

      %li.month
        %span July

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://socialsafari.org" } Social Innovation Safari, Amsterdam
          %p.date  July 9-19
          
      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.comic-con.org/" } Comicon, San Diego
          %p.date July 18-21
          
      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.shareconference.net/en" } The Share Foundation
          %p.date  July 18-22

      %li.event
        .event-content
          %p.name 
            %a{ href: "https://ohm2013.org/site" } Observe Hack Make (OHM)
          %p.date  July 29 - August 4

      %li.month
        %span August

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://lowlands.nl/en/program/" } Lowlands, Biddinghuizen
          %p.date August 16-18

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://pharmakon.fr/wordpress" } IRI summer school 'Pharmakon'
          %p.date  August 19-22

      %li.month
        %span September

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.aec.at/news/en/" } Ars Electronica, Austria
          %p.date  September 5-9

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.w3.org/2012/12/global-publisher/" } W3C Workshop: Publishing and the Open Web Platform. Paris
          %p.date  September 16-17

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://okfestival.org" } Open Knowledge Fest 2013, Geneva
          %p.date  September 16-18

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.digitalenlightenment.org/" } Digital Enlightment Forum, Brussels
          %p.date  September 18-20

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://makerfaire.com" } Maker Faire, Global, New York
          %p.date  September 21-22

      %li.month
        %span October

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.powertothepixel.com/events-and-training/pttp-events/london-forum-2013" } Power to the Pixel, London. 'The Cross-Media Forum with the BFI'
          %p.date October 15-18


      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.thisisplayful.com" } Playful, London
          %p.date October 25

      %li.month
        %span November
        

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.gdconf.com" } Game Developers Conference, o.a. San Francisco
          %p.date November 5-7
            

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://ec.europa.eu/digital-agenda/en/ict-2013" } Digital Agenda Assembly 2013, Lithuania
          %p.date  November 6-8

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.eu-ems.com/summary.asp?event_id=120&page_id=949" } EU Internet Week, Brussels
          %p.date  November 12-16

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.smartcityexpo.com/en/home" } Smart City Expo, Barcelona 
          %p.date  November 19-21

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.idfa.nl/industry/festival/doclab.aspx" } IDFA DocLab, Amsterdam
          %p.date November 20 - December 1

      %li.month
        %span December

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://hackerspaces.org/wiki/Wikipedia_Workshop_at_Open_Labs" } Wikipedoia and OpenLabs, Tirana, Albania 
          %p.date  December 1 

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.bodw.com/2013/index.php" } Business Design Week, Hong Kong
          %p.date  December 2-7 

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://events.ccc.de/congress/2012/wiki/Main_Page" } CCC Congress, Hamburg
          %p.date  December (dates TBC)

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.iri.centrepompidou.fr/seminaire/new-industrial-world-forum/?lang=en_us" } The New Industrial World Forum, Centre Pompidou, IRI
          %p.date  December 16-17

      %li.year
        %span 2014

      %li.month
        %span January

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.transmediale.de" } Transmediale, Berline
          %p.date  January 29 - February 3
  

      %li.month
        %span March

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://sxsw.com" } South By South West, Austin
          %p.date  March 7-11 2014

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://sxsw.com/music-film-interactive/news/registration-sxsw-2014-begins-thursday-august-1" } SXSW Film Festival, Austin
          %p.date March 7-15 2014

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://futureeverything.org/summit/summit-highlights" } FutureEverything Festival
          %p.date  March 2014 (dates TBC)


      %li.month
        %span April

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.2014.wwwconference.org/" } World Wide Web Conference
          %p.date  April 2014 (dates TBC)

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.iemmys.tv/awards_miptv.aspx" } Digital Emmy Awards, Cannes
          %p.date April 2014 (dates TBC)

      %li.month
        %span June

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.iemmys.tv/awards_miptv.aspx" } Banff Rockies Awards, Banff
          %p.date June 8-11 2014

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.sonar.es/en/2013/" } Sonar Festival, Spanje
          %p.date June 12-14 2014

      %li.event
        .event-content
          %p.name 
            %a{ href: "http://www.sonar.es/en/pg/what-is-s%C3%B3nar-d#.Ucv-5fmsh8E" } Sonar+D Festival, Spanje
          %p.date June 12-14 2014

      

      
