#events
  #banner
    .text
      %h1 Events

  #content
    %ul.timeline
      %li.year
        %span 2013

      %li.month
        %span April
      
      %li.event.last-of-month
        .event-content
          %p.name
            %strong The GovLab Experiment, New York
            April 18-19
          %p.url
            %a{ href: "http://www.thegovlab.org" } http://www.thegovlab.org

      %li.month
        %span May

      %li.event
        .event-content
          %p.name
            %strong 22nd Annual International World Wide Web Conference, Rio de Janeiro
            May 13-17
          %p.url
            %a{ href: "http://www.capdigital.com/evenements/enmi" } http://www.capdigital.com/evenements/enmi

      %li.event
        .event-content
          %p.name
            %strong NoSuchCon, France
            May 15-17
          %p.url
            %a{ href: "http://www.nosuchcon.org" } http://www.nosuchcon.org

      %li.event.last-of-month
        .event-content
          %p.name
            %strong Hacker Space Factory, Toulouse
            May 22-26
          %p.url
            %a{ href: "http://mixart-myrys.org/programmation1/thsf-2013-confereces/" } http://mixart-myrys.org/programmation1/thsf-2013-confereces

      %li.month
        %span June

      %li.event
        .event-content
          %p.name
            %strong Ouishare, IsarCamp, Munich
            June 7-8
          %p.url
            %a{ href: "http://ouishare.net/events/isarcamp-share-munich/" } http://ouishare.net/events/isarcamp-share-munich

      %li.event
        .event-content
          %p.name
            %strong Digital Agenda Assembly, Dublin
            June 19-20
          %p.url
            %a{ href: "http://ec.europa.eu/information_society/digital-agenda/daa" } http://ec.europa.eu/information_society/digital-agenda/daa

      %li.event.last-of-month
        .event-content
          %p.name
            %strong SIX event, Philadelphia
            June 24
          %p.url
            %a{ href: "http://www.socialinnovationexchange.org/" } http://www.socialinnovationexchange.org

      %li.month
        %span July

      %li.event
        .event-content
          %p.name
            %strong Social Innovation Safari, Amsterdam
            July 9-19
          %p.url
            %a{ href: "http://socialsafari.org/" } http://socialsafari.org

      %li.event
        .event-content
          %p.name
            %strong The Share Foundation
            July 18-22
          %p.url
            %a{ href: "http://www.shareconference.net/en" } http://www.shareconference.net/en

      %li.event.last-of-month
        .event-content
          %p.name
            %strong Observe Hack Make (OHM)
            July 29 - Aug 4
          %p.url
            %a{ href: "https://ohm2013.org/site/" } https://ohm2013.org/site

      %li.month
        %span August

      %li.event.last-of-month
        .event-content
          %p.name
            %strong IRI summer school 'Pharmakon'
            August 19-22
          %p.url
            %a{ href: "http://pharmakon.fr/wordpress/" } http://pharmakon.fr/wordpress

      %li.month
        %span September

      %li.event
        .event-content
          %p.name
            %strong W3C Workshop: Publishing and the Open Web Platform. Paris
            September 16-17
          %p.url
            %a{ href: "http://www.w3.org/2012/12/global-publisher/" } http://www.w3.org/2012/12/global-publisher/

      %li.event.last-of-month
        .event-content
          %p.name
            %strong Open Knowledge Fest 2013, Geneva
            September 16-18
          %p.url
            %a{ href: "http://okfestival.org" } http://okfestival.org

      %li.month
        %span November

      %li.event
        .event-content
          %p.name
            %strong Digital Agenda Assembly 2013, Lithuania
            November 6-8
          %p.url
            %a{ href: "http://ec.europa.eu/digital-agenda/en/ict-2013" } http://ec.europa.eu/digital-agenda/en/ict-2013

      %li.event
        .event-content
          %p.name
            %strong EU Internet Week, Brussels
            November 12-16
          %p.url
            %a{ href: "http://www.eu-ems.com/summary.asp?event_id=120&page_id=949" } http://www.eu-ems.com/summary.asp?event_id=120&page_id=949

      %li.event.last-of-month
        .event-content
          %p.name
            %strong Smart City Expo, Barcelona 
            November 19-21
          %p.url
            %a{ href: "http://www.smartcityexpo.com/en/home" } http://www.smartcityexpo.com/en/home

      %li.month
        %span December

      %li.event
        .event-content
          %p.name
            %strong Wikipedoia and OpenLabs, Tirana, Albania 
            December 1 
          %p.url
            %a{ href: "http://hackerspaces.org/wiki/Wikipedia_Workshop_at_Open_Labs" } http://hackerspaces.org/wiki/Wikipedia_Workshop_at_Open_Labs

      %li.event
        .event-content
          %p.name
            %strong CCC Congress, Hamburg
            December (dates TBC)
          %p.url
            %a{ href: "http://events.ccc.de/congress/2012/wiki/Main_Page" } http://events.ccc.de/congress/2012/wiki/Main_Page

      %li.event.last-of-month
        .event-content
          %p.name
            %strong The New Industrial World Forum, Centre Pompidou, IRI
            December 16-17
          %p.url
            %a{ href: "http://www.iri.centrepompidou.fr/seminaire/new-industrial-world-forum/?lang=en_us" } http://www.iri.centrepompidou.fr/seminaire/new-industrial-world-forum/?lang=en_us

      %li.year
        %span 2014

      %li.month
        %span March

      %li.event
        .event-content
          %p.name
            %strong FutureEverything Festival
            March 2014 (dates TBC)
          %p.url
            %a{ href: "http://futureeverything.org/summit/summit-highlights/" } http://futureeverything.org/summit/summit-highlights

      

      
