- hilight_in_menu 'events'
= render 'shared/sub_nav', navigation: community_menu


#events
  #content
    .title
      %h1 Events
    %p Some upcoming events of interest in the field of Digital Social Innovation.

    %br
    %br

    %ul.timeline
      - Event.order_by(:start_date => :asc).each do |event|
        %li.event
          %p.name
            %a{ href: event.url }= event.name
            \-
            = event.date_string
