.title
  %h1 Events

#events
      
  #content

    %ul.timeline
      %li.year
        %span 2013

      %li.month
        %span April
      
      %li.event
        .event-content
          %p.name The GovLab Experiment, New York
          %p.date April 18-19
          %p.url
            %a{ href: "http://www.thegovlab.org" } http://www.thegovlab.org

      %li.month
        %span May

      %li.event
        .event-content
          %p.name 22nd Annual International World Wide Web Conference, Rio de Janeiro
          %p.date  May 13-17
          %p.url
            %a{ href: "http://www.capdigital.com/evenements/enmi" } http://www.capdigital.com/evenements/enmi

      %li.event
        .event-content
          %p.name NoSuchCon, France
          %p.date May 15-17
          %p.url
            %a{ href: "http://www.nosuchcon.org" } http://www.nosuchcon.org

      %li.event
        .event-content
          %p.name Hacker Space Factory, Toulouse
          %p.date May 22-26
          %p.url
            %a{ href: "http://mixart-myrys.org/programmation1/thsf-2013-confereces/" } http://mixart-myrys.org/programmation1/thsf-2013-confereces

      %li.month
        %span June

      %li.event
        .event-content
          %p.name Ouishare, IsarCamp, Munich
          %p.date  June 7-8
          %p.url
            %a{ href: "http://ouishare.net/events/isarcamp-share-munich/" } http://ouishare.net/events/isarcamp-share-munich

      %li.event
        .event-content
          %p.name Sheffield Doc/Fest, Sheffield
          %p.date June 12-16
          %p.url
            %a{ href: "http://sheffdocfest.com/" } http://sheffdocfest.com/

      %li.event
        .event-content
          %p.name Games for Change Transmedia award, New York
          %p.date June 17-19
          %p.url
            %a{ href: "http://www.gamesforchange.org/" } http://www.gamesforchange.org/

      %li.event
        .event-content
          %p.name Digital Agenda Assembly, Dublin
          %p.date  June 19-20
          %p.url
            %a{ href: "http://ec.europa.eu/information_society/digital-agenda/daa" } http://ec.europa.eu/information_society/digital-agenda/daa

      %li.event
        .event-content
          %p.name SIX event, Philadelphia
          %p.date June 24
          %p.url
            %a{ href: "http://www.socialinnovationexchange.org/" } http://www.socialinnovationexchange.org

      %li.month
        %span July

      %li.event
        .event-content
          %p.name Social Innovation Safari, Amsterdam
          %p.date  July 9-19
          %p.url
            %a{ href: "http://socialsafari.org/" } http://socialsafari.org

      %li.event
        .event-content
          %p.name Comicon, San Diego
          %p.date July 18-21
          %p.url
            %a{ href: "http://www.comic-con.org/" } http://www.comic-con.org/

      %li.event
        .event-content
          %p.name The Share Foundation
          %p.date  July 18-22
          %p.url
            %a{ href: "http://www.shareconference.net/en" } http://www.shareconference.net/en

      %li.event
        .event-content
          %p.name Observe Hack Make (OHM)
          %p.date  July 29 - August 4
          %p.url
            %a{ href: "https://ohm2013.org/site/" } https://ohm2013.org/site

      %li.month
        %span August

      %li.event
        .event-content
          %p.name Lowlands, Biddinghuizen
          %p.date August 16-18
          %p.url
            %a{ href: "http://lowlands.nl/en/program/" } http://lowlands.nl/en/program/

      %li.event
        .event-content
          %p.name IRI summer school 'Pharmakon'
          %p.date  August 19-22
          %p.url
            %a{ href: "http://pharmakon.fr/wordpress/" } http://pharmakon.fr/wordpress

      %li.month
        %span September

      %li.event
        .event-content
          %p.name Ars Electronica, Austria
          %p.date  September 5-9
          %p.url
            %a{ href: "http://www.aec.at/news/en/" } http://www.aec.at/news/en/

      %li.event
        .event-content
          %p.name W3C Workshop: Publishing and the Open Web Platform. Paris
          %p.date  September 16-17
          %p.url
            %a{ href: "http://www.w3.org/2012/12/global-publisher/" } http://www.w3.org/2012/12/global-publisher/

      %li.event
        .event-content
          %p.name Open Knowledge Fest 2013, Geneva
          %p.date  September 16-18
          %p.url
            %a{ href: "http://okfestival.org" } http://okfestival.org

      %li.event
        .event-content
          %p.name Digital Enlightment Forum, Brussels
          %p.date  September 18-20
          %p.url
            %a{ href: "http://www.digitalenlightenment.org/" } http://www.digitalenlightenment.org/

      %li.event
        .event-content
          %p.name Maker Faire, Global, New York
          %p.date  September 21-22
          %p.url
            %a{ href: "http://makerfaire.com" } http://makerfaire.com

      %li.month
        %span October

      %li.event
        .event-content
          %p.name Power to the Pixel, London. 'The Cross-Media Forum with the BFI'
          %p.date October 15-18
          %p.url
            %a{ href: "http://www.powertothepixel.com/events-and-training/pttp-events/london-forum-2013" } http://www.powertothepixel.com/events-and-training/pttp-events/london-forum-2013


      %li.event
        .event-content
          %p.name Playful, London
          %p.date October 25
          %p.url
            %a{ href: "http://www.thisisplayful.com" } http://www.thisisplayful.com

      %li.month
        %span November
        

      %li.event
        .event-content
          %p.name Game Developers Conference, o.a. San Francisco
          %p.date November 5-7
          %p.url
            %a{ href: "http://www.gdconf.com" } http://www.gdconf.com

      %li.event
        .event-content
          %p.name Digital Agenda Assembly 2013, Lithuania
          %p.date  November 6-8
          %p.url
            %a{ href: "http://ec.europa.eu/digital-agenda/en/ict-2013" } http://ec.europa.eu/digital-agenda/en/ict-2013

      %li.event
        .event-content
          %p.name EU Internet Week, Brussels
          %p.date  November 12-16
          %p.url
            %a{ href: "http://www.eu-ems.com/summary.asp?event_id=120&page_id=949" } http://www.eu-ems.com/summary.asp?event_id=120&page_id=949

      %li.event
        .event-content
          %p.name Smart City Expo, Barcelona 
          %p.date  November 19-21
          %p.url
            %a{ href: "http://www.smartcityexpo.com/en/home" } http://www.smartcityexpo.com/en/home

      %li.event
        .event-content
          %p.name IDFA DocLab, Amsterdam
          %p.date November 20 - December 1
          %p.url
            %a{ href: "http://www.idfa.nl/industry/festival/doclab.aspx" } http://www.idfa.nl/industry/festival/doclab.aspx

      %li.month
        %span December

      %li.event
        .event-content
          %p.name Wikipedoia and OpenLabs, Tirana, Albania 
          %p.date  December 1 
          %p.url
            %a{ href: "http://hackerspaces.org/wiki/Wikipedia_Workshop_at_Open_Labs" } http://hackerspaces.org/wiki/Wikipedia_Workshop_at_Open_Labs

      %li.event
        .event-content
          %p.name Business Design Week, Hong Kong
          %p.date  December 2-7 
          %p.url
            %a{ href: "http://www.bodw.com/2013/index.php" } http://www.bodw.com/2013/index.php

      %li.event
        .event-content
          %p.name CCC Congress, Hamburg
          %p.date  December (dates TBC)
          %p.url
            %a{ href: "http://events.ccc.de/congress/2012/wiki/Main_Page" } http://events.ccc.de/congress/2012/wiki/Main_Page

      %li.event
        .event-content
          %p.name The New Industrial World Forum, Centre Pompidou, IRI
          %p.date  December 16-17
          %p.url
            %a{ href: "http://www.iri.centrepompidou.fr/seminaire/new-industrial-world-forum/?lang=en_us" } http://www.iri.centrepompidou.fr/seminaire/new-industrial-world-forum/?lang=en_us

      %li.year
        %span 2014

      %li.month
        %span January

      %li.event
        .event-content
          %p.name Transmediale, Berline
          %p.date  January 29 - February 3
          %p.url
            %a{ href: "http://www.transmediale.de" } http://www.transmediale.de
  

      %li.month
        %span March

      %li.event
        .event-content
          %p.name South By South West, Austin
          %p.date  March 7-11 2014
          %p.url
            %a{ href: "http://sxsw.com" } http://sxsw.com

      %li.event
        .event-content
          %p.name SXSW Film Festival, Austin
          %p.date March 7-15 2014
          %p.url
            %a{ href: "http://sxsw.com/music-film-interactive/news/registration-sxsw-2014-begins-thursday-august-1" } http://sxsw.com/music-film-interactive/news/registration-sxsw-2014-begins-thursday-august-1

      %li.event
        .event-content
          %p.name FutureEverything Festival
          %p.date  March 2014 (dates TBC)
          %p.url
            %a{ href: "http://futureeverything.org/summit/summit-highlights/" } http://futureeverything.org/summit/summit-highlights


      %li.month
        %span April

      %li.event
        .event-content
          %p.name World Wide Web Conference
          %p.date  April 2014 (dates TBC)
          %p.url
            %a{ href: "http://www.2014.wwwconference.org/" } http://www.2014.wwwconference.org/

      %li.event
        .event-content
          %p.name Digital Emmy Awards, Cannes
          %p.date April 2014 (dates TBC)
          %p.url
            %a{ href: "http://www.iemmys.tv/awards_miptv.aspx" } http://www.iemmys.tv/awards_miptv.aspx

      %li.month
        %span June

      %li.event
        .event-content
          %p.name Banff Rockies Awards, Banff
          %p.date June 8-11 2014
          %p.url
            %a{ href: "http://www.iemmys.tv/awards_miptv.aspx" } http://www.iemmys.tv/awards_miptv.aspx

      %li.event
        .event-content
          %p.name Sonar Festival, Spanje
          %p.date June 12-14 2014
          %p.url
            %a{ href: "http://www.sonar.es/en/2013/" } http://www.sonar.es/en/2013/

      %li.event
        .event-content
          %p.name Sonar+D Festival, Spanje
          %p.date June 12-14 2014
          %p.url
            %a{ href: "http://www.sonar.es/en/pg/what-is-s%C3%B3nar-d#.Ucv-5fmsh8E" } http://www.sonar.es/en/pg/what-is-s%C3%B3nar-d#.Ucv-5fmsh8E

      

      
