#home
  #map

  :javascript
    $(function() {

      var defaultCenter = [50,10];
      var defaultZoom = 4;
      var selectedZoom = 16;

      var map = L.mapbox.map('map', '#{Digitalsocial::MAPBOX_MAP_ID}')
        .setView(defaultCenter,defaultZoom);
    });

  .about
    %p
      We are really interested in understanding who the digital social
      innovators are, where you are and how you are connected to each
      other. To understand this we are developing an EU wide map of
      organisations, listing what kind of activities they are involved in,
      how they are supporting it and how they are connected to others.

    = link_to "Add yourself to the map", [:organisations, :build, :new_user], class: 'button'
