#home
  #home-map
    .text
      %h1 We need your help
      %br
      %h2 Understanding Digital Social Innovation across Europe

  #content

    %p The internet is playing an ever increasing role in how we work, play, and relate to each other.

    %p As a natural result of this many of the most exciting new innovations that address social issues are being developed online.  We call this exciting new field <em>Digital Social Innovation</em> and it includes a diverse set of activities and actors.

    %p However, while the field of digital social innovation practice is growing rapidly, there is little knowledge around what best practice looks like, where it is happening, who the digital social innovators are and what strategic approaches can best support its growth.