#home
  #banner
    .text
      %h1 We need your help
      %br
      %h2 Understanding Digital Social Innovation across Europe

  #content

    %p The internet is playing an ever increasing role in how we work, play, and relate to each other.

    %p
      As a natural result of this many of the most exciting new innovations
      that address social issues are being developed online.  We call this
      exciting new field <em>Digital Social Innovation</em> and it includes
      a diverse set of activities and actors.

    %p
      However, while the field of digital social innovation practice is
      growing rapidly, there is little knowledge around what best practice
      looks like, where it is happening, who the digital social innovators
      are and what strategic approaches can best support its growth.

    %p
      The EU Commission recognises this issue and has commissioned a
      study to explore and assess the emerging landscape. This will be
      carried out by an EU wide partnership of <em>Nesta</em> (UK), <em>Esade Business
      School</em>(Spain), <em>Waag Society</em> (NL), <em>Institut de Recherche et d'Innovation</em>
      (Fr) and <em>FutureEveryhting</em> (UK).

    %p
      <strong>Are you on the Digital Social Innovation Map?</strong>

    %p 
      If you are active in this area, please help us by completing a
      short survey.
      
    %p
      We are really interested in understanding who the digital social
      innovators are, where you are and how you are connected to each
      other. To understand this we are developing an EU wide map of
      organisations, listing what kind of activities they are involved in,
      how they are supporting it and how they are connected to others. 

    %p
      We will create a resource that helps digital social innovators
      connect while also developing an understanding for the EU and national
      governments on the state of Digital Social Innovation in different
      parts of EU. 


    %p
      If you are keen on discussion more, drop us a tweet, send us an email or come to one of the DSI events we are planning on attending.

