#home
  #map

  :javascript
    $(function() {

      var defaultCenter = [50,10];
      var defaultZoom = 4;
      var selectedZoom = 16;

      var map = L.mapbox.map('map', '#{Digitalsocial::MAPBOX_MAP_ID}')
        .setView(defaultCenter,defaultZoom);
    });

  .about
    :markdown
      A short (100 words max) piece of copy that explains what DSI is, and why organisations would want to add themselves to the map. [Read more](/about).

    = link_to "Add yourself to the map", [:organisations, :build, :new_user], class: 'button'
