= render 'shared/sub_nav', navigation: resources_menu

#resources
  #content
    .title
      %h1 Resources

      :markdown

        This site provides the following resources on digital social innovation:

        - [Linked Open Data](http://data.digitalsocial.eu/) of the DSI Network
        - [Research](/pages/research)
        - [Presentations](/pages/presentations)
        - [Funding and Support](/pages/funding-and-support)
    /    - [Resources](/pages/resources)
