#terms
  #content
    .title
      %h1 Terms of Use

    :markdown
      This website is managed by Nesta ("Nesta") on behalf of the European Commission and our partners, Esade, IRI, Waag Society, Future Everything and Swirrl. Use of this site is subject to these Terms. Access to certain parts of the site may be subject to specific terms of use which apply in addition to these Terms. Our Privacy Policy explains how we use any personal information which we collect via this site. If you do not agree with these Terms or our [Privacy Policy](/privacy), please do not use this site.

      1. The information, materials and logos on this site belong to the European Commission, Nesta, our partners or licensors. Some of this material is available under Creative Commons licences - please click the Creative Commons logo for details of your rights to use this material. In any other case, you can browse, download, view, print, link to, modify, and copy the content for your own personal use, but you must obtain our written consent to use it for any other reason, including any commercial use. You must not remove any copyright or trade mark notices from the content.

      2. You are responsible for any comments, text, video, audio, images, photographs or other content which you post on this site and must obtain any relevant permissions or consents in advance. You give us a perpetual, worldwide, non-exclusive, royalty-free and fully transferable right to use, copy, modify, publish, display and share this content and waive your moral rights in it.

      3. You must not use this site:

      * to post, share or transmit material which is unlawful or infringes anyone else’s rights
      * for any commercial purpose or in any way which is abusive, defamatory or obscene or which harasses, distresses or inconveniences anyone or restricts or inhibits their use and enjoyment of this site or which otherwise damages our reputation
      * to transmit software viruses or code designed to interrupt, destroy or compromise the integrity of computer software, hardware or telecommunications equipment

      4. The European Commission, Nesta and/ or our partners are not responsible for content posted by users on the site. The views expressed are the views of the users and not Nesta or our partners. You can report any inappropriate content to us at [contact@digitalsocial.eu](mailto:contact@digitalsocial.eu). Although we don’t monitor all content posted on the site, we reserve the right to do so and to edit, delete or remove content at our absolute discretion and without notice.

      5. The information on this site is subject to change from time to time and we can't guarantee that it will always be accurate and up-to-date. We are not responsible for the content of external sites which you link to from our site, nor content added by users of the site.

      6. We don’t guarantee that the site will always be available or free from errors or viruses. You are responsible for installing adequate and up-to-date virus-checking software to protect your computer. As far as legally possible, we and our partners exclude all liability for any loss or damage suffered by you as a result of you using or accessing this site, whether direct or indirect, and however arising, including any loss of data or damage caused by downloading content from this site.

      7. These Terms may be varied from time to time so you should check them regularly. If you use the site after any change has been made, you will be deemed to have accepted the change. If any of these Terms are deemed to be illegal, invalid or otherwise unenforceable, this will not affect the legality, validity or enforceability of the remaining Terms.

      8. These Terms are governed by English law and the courts of England and Wales will have jurisdiction over any dispute arising from them.

      **Nesta**, a company limited by guarantee registered in England and Wales with company number 7706036 and charity number 1144091. Registered as a charity in Scotland number SC042833.

      Registered office: 1 Plough Place, London EC4A 1DE.
