body.admin {

  #header .menu {
    line-height: 36px;
  }

  .admin-main {
    @include columns(16);
  }

  table.index {
    width: 100%;
    margin-bottom: 36px;

    th, td {
      padding: 24px;
      text-align: left;
      vertical-align: middle;

      &.center {
        text-align: center;
      }
    }

    th {
      color: #ccc;
      font-weight: normal;
    }

    td.actions {
      a {
        margin-left: 12px;
      }
    }

    tr:nth-child(even) {
      td {
        background: #eee;
      }
    }

    &.blog-posts, &.pages {
      td, th {
        white-space: nowrap;

        &.name, &.body {
          white-space: normal;
          line-height: 1.2;
        }
      }
    }

  }

  .edit, .new {
    form {
      label {
        display: block;
      }
    }
  }
	
}