body.admin {

  #header .menu {
    line-height: 36px;
  }

  .admin-main {
    @include columns(16);
  }

  table.index {
    width: 100%;
    margin-bottom: 36px;

    th, td {
      padding: 24px;
      text-align: left;
      vertical-align: middle;
      white-space: nowrap;

      &.center {
        text-align: center;
      }

      &.text {
        white-space: normal;
        line-height: 1.2;
      }
    }

    th {
      color: #ccc;
      font-weight: normal;
    }

    td.actions {
      a {
        margin-left: 12px;
      }
    }

    tr:nth-child(even) {
      td {
        background: #eee;
      }
    }

  }

  .edit, .new {
    form {
      label {
        display: block;
      }
    }
  }

  .csv-button {
    margin-bottom: 36px;
  }

  .admin-help {
    background: #fff2c9;
    padding: 18px 24px;
    margin: -30px 0 60px;
    color: #736e61;

    p {
      margin-bottom: 18px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .admin-help-links {
    margin-bottom: 60px;
  }

  .admin-help-section {
    margin-bottom: 60px;

    h2 {
      margin-bottom: 18px;
      font-style: italic;
      font-size: 30px;
    }

    p {
      margin-bottom: 18px;
    }
  }
	
}

#admin-banner {
  width: 100%;
  padding: 15px 0;
  background: $orange;
  color: #ffce8f;
  text-align: center;

  a {
    text-decoration: underline;
    color: #fff;
  }

  .links {
    margin-left: 18px;
  }

}