.button {
  background: $orange;
  color: #fff;
  padding: 12px 24px;
  border: 0;
  outline: 0;
  font-size: 24px;
  font-family: $chaparral;
  cursor: pointer;
  //border-bottom: 5px solid $orange-shadow;
  font-weight: 500;
  margin-left: 9px;
  display: inline-block;

  &:hover {
    background: $orange-hover;
  }

  &.button-green {
    background: $green;

    &:hover {
      background: $green-hover;
    }
  }


}