.button {
  background: $orange;
  color: #fff;
  padding: 18px 24px;
  border: 0;
  outline: 0;
  font-size: 24px;
  font-family: $chaparral;
  cursor: pointer;
  font-style: italic;
  //border-bottom: 5px solid $orange-shadow;
  font-weight: 600;
  display: inline-block;
  @include border-radius(3px);
  @include transition(all, 0.15s);

  &:hover {
    background: $orange-hover;
    color: #fff;
  }

  &.button-green {
    background: $green;
    color: #eff7f3;

    &:hover {
      background: $green-hover;
      color: #fff;
    }
  }

  &.button-red {
    background: $red;

    &:hover {
      background: $red-hover;
    }
  }


}