.dashboard {

  width: 960px;

  ul.tabs {
    display: block;
    width: 100%;
    margin-bottom: 36px;
    border-bottom: 3px solid $orange;

    li {
      display: block;
      float: left;
      margin-right: 60px;
      font-size: 30px;
      font-style: italic;
      font-weight: 300;
      opacity: 0.66;
      @include transition(opacity, 0.1s);

      &:hover {
        opacity: 1;
      }

      &.active {
        border-bottom: 3px solid $orange;
        font-weight: 600;
        opacity: 1;
      }

      &.right {
        float: right;
        margin-right: 0;
        margin-left: 60px;
      }
    }
  }

  ul.dashboard-list {
    margin-bottom: 60px;

    li {
      padding: 24px;
      background: #f0f0f0;
      list-style-type: none;
      margin-bottom: 18px;
      display: block;
      position: relative;
    }

  }
  

  ul.projects {
    
    li {
      

      a {
        font-weight: 600;
        color: $link-blue;

        &:hover {
          color: $link-blue-hover;
        }
      }

      .name {
        font-size: 28px;
        font-style: italic;
        margin-bottom: 6px;
        line-height: 1.1;
      }

      .row {
        display: block;
        width: 100%;
        margin-bottom: 0;

        .progress {
          float: left;
          @include columns(7);
          margin-left: 0;
          padding-top: 7px;

          .bar {
            @include border-radius(9px);
            background: #ccc;
            width: 100%;
            height: 18px;
            position: relative;
            overflow: hidden;
            margin-bottom: 12px;
          }

          .fill {
            height: 18px;
            background: $orange;
            width: 40%;
            @include border-radius(9px);
            text-align: right;
            line-height: 1;

            &.green {
              background: $green;
            }

            span.text {
              color: white;
              margin-right: 6px;
              font-size: 14px;
              line-height: 18px;
              font-style: italic;
              opacity: 0.75;
            }
          }


        }

        .organisations {
          float: left;
          @include columns(7);
          @include offset(1);
          line-height: 1;

          .count {
            line-height: 30px;
            margin-bottom: 12px;

            i {
              width: 21px;
              font-size: 32px;
              color: $orange;
              margin-right: 0;
              vertical-align: middle;
            }

          }

          span.text {
            font-style: italic;
            color: #999;
          }

        }

        .progress, .organisations {
          
        }
      }
    }
  }

  ul.respondables {
    li {

      .image {
        float: left;
        width: 70px;
        //height: 70px;
        margin-right: 12px;
        position: absolute;
        top: 0;
        bottom: 0;
        //background: rgba(255, 255, 255, 0.75);
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      .text {
        float: left;
        line-height: 1.5;
        max-width: 540px;
        margin-left: 94px;

        .message {
          font-weight: 500;
          font-style: italic;
          font-size: 24px;
        }

        .subheader {
          font-style: italic;
        }
      }

      .action {
        float: right;
        width: 240px;
        text-align: right;

        .button {
          font-size: 20px;
          padding: 8px 24px;
        }
      }
    }
  }

}