#partners {
  height: 360px;
  position: relative;

  a {
    display: block;
    position: absolute;
    opacity: 0.75;
    @include transition(opacity, 0.2s);
    padding: 36px;
    background-position: 36px 36px;
    background-repeat: no-repeat;

    &:hover {
      opacity: 1;
    }

    &.nesta {
      background-image: url(image-path("partners/orange/nesta.png"));
      width: 150px;
      height: 35px;
      left: 60px;
      top: 62px;
    }

    &.esade {
      background-image: url(image-path("partners/orange/esade.png"));
      width: 146px;
      height: 36px;
      left: 371px;
      top: 62px;
    }

    &.future-everything {
      background-image: url(image-path("partners/orange/future-everything.png"));
      width: 132px;
      height: 36px;
      left: 676px;
      top: 62px;
    }

    &.iri {
      background-image: url(image-path("partners/orange/iri.png"));
      width: 100px;
      height: 43px;
      left: 80px;
      top: 180px;
    }

    &.waag {
      background-image: url(image-path("partners/orange/waag.png"));
      width: 118px;
      height: 36px;
      left: 385px;
      top: 184px;
    }

    &.swirrl {
      background-image: url(image-path("partners/orange/swirrl.png"));
      width: 130px;
      height: 36px;
      left: 676px;
      top: 184px;
    }
  }
}

footer {
  padding: 36px 0;
  color: $orange;
  font-style: italic;

  &.clearfix {
    display: block;
  }

  .credits {
    float: left;

    a {
      font-weight: 600;
      color: $orange;
    }
  }

  nav {
    float: right;

    a {
      margin-left: 18px;
      line-height: 1;

      [class^="icon-"], [class*=" icon-"] {
        margin-right: -2px;
      }
    }
  }

  .credits {
    .copyright {

    }
    .contact {
      margin-top: 10px;
      span {
        margin-right: 18px;
      }
    }

    margin-top:0;
  }

  .hr3 {
    margin-bottom: 36px;
  }

}

#baseline {
  height: 540px;
  background: transparent url(image-path("backgrounds/baseline-bg.png")) repeat-y center top;
}