#partners {
  background: $lblue;
  margin-top: 120px;
  height: 320px;

  .container {
    position: relative;

    a {
      display: block;
      position: absolute;
      opacity: 0.4;
      @include transition(opacity, 0.2s);
      padding: 36px;
      background-position: 36px 36px;
      background-repeat: no-repeat;

      &:hover {
        opacity: 1;
      }

      &.nesta {
        background-image: url(image-path("partners/nesta.png"));
        width: 150px;
        height: 35px;
        left: 60px;
        top: 42px;
      }

      &.esade {
        background-image: url(image-path("partners/esade.png"));
        width: 146px;
        height: 36px;
        left: 371px;
        top: 42px;
      }

      &.future-everything {
        background-image: url(image-path("partners/future-everything.png"));
        width: 132px;
        height: 36px;
        left: 676px;
        top: 42px;
      }

      &.iri {
        background-image: url(image-path("partners/iri.png"));
        width: 100px;
        height: 43px;
        left: 80px;
        top: 160px;
      }

      &.waag {
        background-image: url(image-path("partners/waag.png"));
        width: 118px;
        height: 36px;
        left: 385px;
        top: 164px;
      }

      &.swirrl {
        background-image: url(image-path("partners/swirrl.png"));
        width: 130px;
        height: 36px;
        left: 676px;
        top: 164px;
      }
    }
  }
}

#footer {
  color: #fff;
  line-height: 24px;
  background: $mblue;
  padding: 36px 0;

  .container {
    display: block;
  }

  .copy {
    float: left;
  }

  .links {
    float: right;
    line-height: 24px;

    img {
      margin-left: 18px;
    }

    span, a {
      vertical-align: top;
    }

    span {
      color: #cfebf1;
      margin-left: 24px;
      margin-right: 6px;
    }

    a {
      color: #fff;
    }
  }
}

#baseline {
  height: 540px;
  background: #fff url(image-path("backgrounds/baseline-bg.png")) repeat-y center top;
}