form {

  .field-with-notes {
    @include row;
    margin-bottom:0;

    .field, .fields {

      @include columns(8);

      clear:left;
      @include clearfix;

      div.input {
        textarea,
        input[type="text"],
        input[type="email"],
        input[type="password"]  {
          width: 90%;
        }
      }
    }


    .notes {

      span.highlight {
        //background: $new-green;
        //color: #000;
        color: rgba(0,0,0,0.4);
      }

      @include columns(7);
      @include offset(1);

      p:last-child {
        margin-bottom:0; // dont margin the last p.
      }

      font-size: 16px;
      padding-top:20px;
      @include media-all-mobile {
        font-size:14px;
        color: rgba(0,0,0,0.4);

        // as it's underneath
        padding-top:0;
        margin-top:-30px;
        margin-bottom:40px;
      }
      color: rgba(0,0,0,0.4);
    }
  }

  #activity_terms_note {
    .notes {
       padding-top: 0px;
    }

    label.checkbox {
      padding-left: 0px;
    }
  }

  label {
    display: block;

    abbr[title] {
      color: $red;
      border-bottom: 0;
    }

    &.radio_buttons, &.check_boxes, &.dates {
      margin-bottom: 18px;
    }

    &.radio, &.checkbox {
      padding-left: 24px;
      margin-bottom: 12px;
      font-style: normal;

      input {
        margin: 0 8px 0 0;
        vertical-align: top;
      }
    }
  }

  .input {
    margin-bottom: 48px;

    input[type=text], input[type=email], input[type=password],
    input[type="url"], textarea {
      padding: 12px;
      font-size: 100%;
      font-family: $scene-medium;
      border: 0;
      //background: #fff;
      border: 2px solid rgba(0, 0, 0, 0.2);
      outline: none;
      @include transition(all, 0.15s);
      display: block;
      margin-bottom: 0;
      

      &:focus {
        background: #ffffe0;
      }

    }

    textarea.autosize {
      @include transition(height, 0);
      padding-bottom: 48px;
    }

    &.other {
      display: none;
      margin-top: -24px;
      padding-left: 24px;
    }

    span.error {
      margin-bottom: 0;
    }

    &.field_with_errors {
      input[type=text], input[type=email], input[type=password], textarea {
        border-color: $red;
      }
    }
  }

  span.error {
    display: inline-block;
    background-color: $red;
    color: #fff;
    padding: 6px 12px;
    margin-left: 2px;
    font-size: 16px;
    margin-bottom: 36px;
  }

  .error-messages {
    @include columns(16);
    margin-bottom: 48px;
    padding: 18px;
    background: $red;
    color: #fff;
    text-align: center;
    @include clearfix;

    @include media-all-mobile {
      margin-bottom: 36px;
    }
  }

}

p.suggested-tags {
  margin-top:-30px;
  font-size:16px;
  margin-bottom: 48px;
}
