html, body {
  height: 100%;
}

body {
  font-family: $chaparral;
  font-size: 18px;
  color: $black;
  background: #fff; // url(image-path("backgrounds/bg.png")) repeat-y center top;
  padding-bottom: 60px;
}

.row {
  @include row; // the grid mixin.
}

.flash {
  padding: 18px 36px;
  margin: 36px 0;
  color:white;
  line-height: 1.5;
  text-align: center;
  font-size: 20px;
  font-style: italic;

  &.alert {
    background: #ffffe0;
    color: #7f7f75;
  }

  &.notice {
    background: #ffffe0;
    color: #7f7f75;
  }
}

a {
  text-decoration: none;
  color: $link-blue;
  @include transition(all, 0.1s);

  &:hover {
    color: $link-blue-hover;
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1.5em;
  line-height: 1.5;
}


ol, ul {
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 1.5em;

  li {
    line-height: 1.5;
  }
}

h1 {
  font-size: 48px;
  color: $orange;
  font-style: italic;
  margin-bottom: 48px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  margin-bottom: 36px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

h1 + h2 {
  margin-top: -36px;
  font-size: 30px;
  margin-bottom: 48px;
}

::selection {
  background: $orange;
  color: #fff;
}

::-moz-selection {
  background: $orange;
  color: #fff;
}

.container {
  @include container;
}

.clearfix {
  zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

}

.lcol {
  float: left;
  width: 540px;
}

.rcol {
  float: right;
  width: 300px;
}

#main {
  padding-top: 9px;
}

.hr {
  display: block;
  background-color: $orange;
  //width: 10000px;
}

.hr1 {
  height: 3px;
}

.hr2 {
  height: 6px;
}

.hr3 {
  height: 4px;
}

.title {
  @include columns(16);
}

.leaflet-control-attribution {
  display: none;
}