body {
  font-family: $lato;
  font-size: 18px;
  color: $black;
}

a {
  text-decoration: none;
  color: $dblue;
  @include transition(all, 0.1s);

  &:hover {
    color: $dblue-hover;
  }
}

p {
  margin-bottom: 30px;
  line-height: 1.5;
}

ul {
  padding-left: 48px;
  margin-bottom: 30px;

  li {
    line-height: 1.5;
    margin-bottom: 12px;
  }
}

h1 {
  font-size: 48px;
  margin-bottom: 48px;
}

h2 {
  font-size: 36px;
  margin-bottom: 36px;
}

h1 + h2 {
  margin-top: -36px;
  color: #ccc;
  font-size: 30px;
  margin-bottom: 48px;
}

::selection {
  background: $dblue;
  color: #fff;
}

::-moz-selection {
  background: $dblue;
  color: #fff;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix {
  zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

}

.lcol {
  float: left;
  width: 540px;
}

.rcol {
  float: right;
  width: 300px;
}