#header {
  padding: 48px 0;
  width: 100%;

  a {
    color: $orange;
  }

  .logo {
    float: left;
    width: 279px;
    height: 79px;
    background: url(image-path("logo/dsi-logo.png")) no-repeat;
    display: block;
    margin-left: -100px;
  }

  .menu {
    float: right;
    padding-top: 55px;

    a {
      padding: 12px 18px;
      font-size: 24px;
      margin-left: 36px;
      font-weight: 400;
      
    }
  }
}