#header {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media-all-mobile {
    padding-top:24px;
    padding-bottom: 12px
  }

  width: 100%;

  a {
    color: $orange;
  }


  .logo-wrapper {
    @include columns(4);

    .logo {
      float: left;
      width: 279px;
      height: 79px;
      background: url(image-path("logo/dsi-logo.png")) no-repeat;
      display: block;
      margin-left: -100px;

      @include media-tablet-and-mobile {
        margin-left: 0;
      }
    }
  }

  .menu {
    @include columns(12);

    .menu-items {
      float: right;
      padding-top: 55px;

      @include media-all-mobile {
        padding-top: 30px;
        float:left;
      }

      a {
        padding: 12px 18px;
        font-size: 24px;
        margin-left: 36px;

        @include media-tablet-and-mobile {
          font-size: 18px;
          margin-left:0;
        }

        font-weight: 400;
      }



    }
  }
}