#header {
  padding: 60px 0;
  width: 100%;

  a {
    color: $black;
  }

  .logo {
    float: left;
    width: 240px;
    font-size: 36px;
  }

  .menu {
    float: right;
    line-height: 72px;

    a {
      padding: 12px 18px;
      margin-left: 36px;
      font-weight: bold;
      @include transition(all, 0.1s);

      &:hover {
        color: $dblue;
      }
      
    }
  }
}