.home {
  .main-panel {

    .main-panel-inner {

      .filter-section {
        padding: 12px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);

        a {
          font-size: 16px;
          font-weight: normal;
          margin: 0;
          display: inline-block;
        }

        a.reset {
          font-size: 14px;
          float: right;
          line-height: 18px;
        }

        p.browse {
          margin-top: 6px;
          margin-bottom: 0;
          line-height: 1;
          text-align: right;

          a {
            font-size: 14px;
          }
        }

        &.expanded {
          .expand-triangle {
            display: none;
          }
          .collapse-triangle {
            display: inline-block;
          }

          .expandable {
            display: block;
          }

          .options {
            display: block;
            padding: 6px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 78px;

            .option {
              line-height: 24px;
              white-space: nowrap;

              label {
                display: inline-block;
                font-size: 14px;
                font-style: normal;
              }

              input {
                margin: 0;
                margin-bottom: 2px;
              }

              input, label {
                vertical-align: middle;
              }
            }
          }
        }

        &.cluster-section {
          .options {
            background: transparent;
            height: auto;
            overflow-x: auto;
          }

          #slider {
            @include border-radius(0);
            border: 0;
            height: 6px;
            background: rgba(0, 0, 0, 0.2);
            width: 300px;
            margin-left: 9px;
            margin-bottom: 6px;

            a {
              @include border-radius(0);
              border: 0;
              outline: 0;
              cursor: pointer;
              background: $new-green;
              height: 18px;
              width: 18px;
              top: -6px;
              margin-left: -9px;
              margin-bottom: -6px;
              @include border-radius(50%);
            }
          }

          p {
            font-size: 13px;
            color: rgba(255, 255, 255, 0.66);
            margin-left: -6px;
            margin-right: -6px;
            cursor: default;

            span.left { float: left; }
            span.right { float: right; }
          }
        }

        .options {
          background: rgba(0, 0, 0, 0.1);
          height: 90px;
          margin-top: 6px;
        }

        .expandable {
          display: none;
        }

        .expand-triangle, .collapse-triangle {
          display: inline-block;
          width: 0px;
          height: 0px;
          border-style: solid;
          margin-right: 3px;
        }

        .expand-triangle {
          border-width: 6px 0 6px 9px;
          border-color: transparent transparent transparent #fff;
          margin-left: 3px;
        }

        .collapse-triangle {
          border-width: 9px 6px 0 6px;
          border-color: #fff transparent transparent transparent;
          margin-top: 2px;
          margin-right: 6px;
          display: none;
        }
      }

      .filter-button-section {
        text-align: center;
        padding: 12px 0;
        border-bottom: 0;

        .button {
          //color: #fff;
          font-size: 18px;
          padding: 12px 24px;
          //color: #000;

          &:disabled, &[disabled=disabled] {
            background: rgba(255,255,255,0.5);
            color: rgba(0,0,0,0.5);
          }

        }
      }

      .filter-share-section {
        padding-right: 0;
        padding-top: 0;
        border-bottom: 0;
        padding-left:0;

        p {
          margin: 0;
          color: #999;
          font-size: 16px;
          line-height: 16px;
          text-align: center;

          [class^="icon-"], [class*=" icon-"] {
            font-style: normal;
            margin: 0;
          }

          a {
            color: #fff;
          }
        }

        input {
          display: none;
          padding: 3px;
          font-size: 14px;
          font-family: $chaparral;
          margin: 0 auto;
          margin-top: 6px;
          width: 316px;
          margin-left:10px;
        }
      }
    }
  }
}
