#home-map, #show-map {
  width: 100%;
  height: 100%;

  .leaflet-popup-content-wrapper {
    @include border-radius(0);
    //border-top: 4px solid $orange;
    width: 300px;
    min-height: 60px;
    background: #356fab;
    color: #fff;

    .leaflet-popup-content {
      font-family: $chaparral;

      a {
        color: #fff;
      }

      .spinner {
        padding: 24px 0;
        background: transparent url(image-path('spinner.gif')) no-repeat center;
        height: 32px;
        padding: 32px 0;
      }

      .popup-error {
        font-size: 18px;
        padding: 32px 0;
        text-align: center;
        //color: #777;
        font-style: italic;
      }

      h3 {
        margin-bottom: 6px;

        a {
          //color: $orange;
          font-size: 20px;
          font-style: italic;
          font-weight: normal;
          color: #fff;
        }
      }

      p.address {
        font-style: italic;
        //color: #777;
        font-size: 14px;
        margin: 0 0 8px;
        line-height: 1;
        color: rgba(255,255,255,0.5);
      }

      p.show-all-orgs {
        margin: 6px 0 0;

        a {
          //color: #999;
          font-size: 16px;
        }
      }

      ul.projects, ul.organisations {
        font-size: 15px;
        margin: 0;
        margin-right: -12px;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 240px;

        li {
          line-height: 1;
          list-style-type: none;
          margin-bottom: 8px;
        }

        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba(0,0,0,.5);
          -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }

      }

      .divider {
        height: 1px;
        border-top: 1px solid rgba(0,0,0,0.2);
        margin: 6px -16px 6px;
      }

      .actions {
        a {
          font-style: italic;
          font-size: 14px;
        }

        margin-bottom: -6px;
      }
    }

  }

  .leaflet-control {
    @include media-all-mobile {
      display:none;
    }
  }

  .leaflet-popup-tip {
    background: #356fab;
  }
}
