.home {
  $navbar-height: 59px;
  $main-panel-width: 430px;

  .main-panel {
    z-index:9999;
    font-size: 16px;
    width: $main-panel-width;
    top: $navbar-height;
    right: 0px;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);

    @include transition(right, 0.5s);

    &.minimized {
      right: -$main-panel-width;
    }

    @include media-all-mobile {
      display:none !important;
    }

    .main-panel-inner {
      //@include transition(all, 0.5s);

      border-left: 1px solid rgba(208,125, 1, 0.5);
      border-right: 1px solid rgba(208,125, 1, 0.5);
      //border-left: 1px solid rgba(150,150,150, 0.5);
      //border-right: 1px solid rgba(150,150,150, 0.5);
    }

    .panel:not(.selected) {
      display: none;
    }

    a.toggle-bar {
      display: block;
      background: $orange;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      padding-top: 8px;
      padding-bottom: 0px;
      color: #fff;
      text-align: center;
      height: 22px;
      cursor: pointer;

      .welcome-link, .edit-link {
        display: none;

        &.show {
          display: initial;
        }
      }
    }

    .hide-panel {
      float: right;
      text-align :right;
      font-style: italic;
      margin-right: 12px;
      display: inline-block;
    }
  }

  .panel-foot {
    color: $orange;
    font-size: 14px;
    margin-left: 12px;
    margin-top: 12px;
    padding-bottom: 12px;
  }

  #filter_panel .panel-foot {
    margin-bottom: 12px;
  }

  .show-main-panel {
    $right-border: 1px;
    font-size: 36px;
    //background: white;
    //color: $orange;
    //opacity: 0.75;
    background: $orange;
    color: white;
    //border: 1px solid rgba(150,150,150, 0.5);
    border: 1px solid rgba(208,125, 1, 0.5);
    border-right: $right-border solid rgba(255,255,255, 0.75);
    margin: 0;
    display: inline-block;
    position: absolute;
    top: $navbar-height + 36px;
    right: 430px - $right-border;
    z-index: 9999;

    @include transition(right, 0.5s);

    [class^="icon-"], [class*=" icon-"] {
      margin: 0;
    }

    .icon-circled-right {

    }

    &.minimized {
      right: 0px;
      opacity: 1;
      background: $orange;
      color: white;

      .icon-circled-left {
        margin: 2px;
      }
    }

    &.show {
    }
  }
}

.home {
  .mobile-small-info {
    display: none;
    width: 100%;
    z-index:9999;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    border-top: 3px solid $orange;
    bottom:0;

    @include media-larger-than-mobile {
      display: none !important;
    }

    .text {
      margin: 9px 18px;

     a.show-info-mobile {
        display:block;
        text-align:right;
      }
    }
  }
}
