.home {
  height: 100%;
  padding-bottom: 0;

  .logo {
    position: absolute;
    top: 0px;
    left: 72px;
    padding: 30px 18px 0px;
    background: rgba(255, 255, 255, 0.75);
    border-bottom: 3px solid $orange;
    @include transition(top, 0.25s);

    img {

    }

    .links {
      margin-top: 30px;
      margin-bottom: 5px;

      a {
        font-style: italic;
        margin-right: 12px;
        @include transition(all, 0);
        color: $orange;

        &:hover {
          text-decoration: none;
          border-bottom: 3px solid $orange;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .small-info {
    display: none;
    position: absolute;
    //left: 216px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.75);
    border-top: 9px solid $orange;
    padding: 36px;

    p.show-more {


      line-height: 1;

      a {
        //color: #999;
        font-size: 30px;
        font-style: italic;
      }
    }
  }

  .info {
    position: absolute;
    //left: 216px;
    right: 0px;
    bottom: 0px;
    width: 826px;
    font-size: 16px;

    background: rgba(255, 255, 255, 0.75);
    border-top: 9px solid $orange;
    padding: 36px 36px 18px 36px;
    @include transition(all, 0.5s);

    .credits {
      margin-top: 24px;
      margin-bottom: -12px;
      font-size: 14px;
      color: #aaa;

      a {
        font-weight: 600;
        font-style: italic;
        color: #aaa;
      }
    }

    h1 {
      margin-bottom: 24px;
      font-size: 36px;
    }

    a.button {
      margin-top:12px;
    }

    ul { margin-bottom: 12px }
    p {
      margin-bottom: 12px;

      &:first-child {
        font-weight: 600;
        font-style: italic;
        font-size: 20px;
      }
    }

    .text {

    }
  }

  .controls {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 300px;
    right: 0px;
    top: 72px;
    border-top: 3px solid $orange;
    border-bottom: 3px solid $orange;
  }
}

#home-map {
  width: 100%;
  height: 100%;

  .leaflet-popup-content-wrapper {
    @include border-radius(0);
    border-top: 4px solid $orange;
    width: 300px;
    min-height: 60px;

    .leaflet-popup-content {
      font-family: $chaparral;

      .spinner {
        padding: 24px 0;
        background: transparent url(image-path('spinner.gif')) no-repeat center;
        height: 32px;
        padding: 32px 0;
      }

      .popup-error {
        font-size: 18px;
        padding: 32px 0;
        text-align: center;
        color: #888;
        font-style: italic;
      }

      h3 {
        margin-bottom: 6px;

        a {
          color: $orange;
          font-size: 20px;
          font-style: italic;
          font-weight: normal;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p.address {
        font-style: italic;
        color: #999;
        font-size: 14px;
        margin: 0 0 8px;
        line-height: 1;
      }

      ul.projects {
        font-size: 15px;
        margin: 0;

        li {
          line-height: 1;
          list-style-type: none;
          margin-bottom: 8px;

          a:hover {
            text-decoration: underline;
          }

        }

      }
    }
  }
}
