.home {
  .nav-bar {
    z-index:9999;
    position: absolute;
    top: 0px;
    width: 100%;

    .search {
  /*    float: right;
      margin-right: 144px; */

      form .input {
        input {
          border-top: 2px solid #eee;
        }
      }
    }
  }

  @include media-tablet-and-mobile {
    ul.header-links {
      margin-left: 10px;

      li a {
        padding-top: 0;
      }
    }
  }
}

.nav-bar {
  padding: 0;
  background: rgba(255, 255, 255, 0.85);

  .hilight {
    color: $orange;
  }

 .input {
    margin-bottom: 0;
  }

 .search {
   float: left;

   @include media-tablet-and-mobile {
     display: none;
   }

    form .input {
      margin-left: 0;
      margin-top: 8px;
      input {
        font-size: 16px;
        padding: 6px;
        &:focus {
          border: 2px solid $orange;
        }
      }
    }
  }

  .hr {
    clear: both;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2px;
  }

  > a {
    padding: 9px 36px 3px 9px;
    display: inline-block;
    float: left;
  }

  ul.header-links {
    float: left;
    margin-bottom: 5px;

    li {
      list-style-type: none;
      line-height: 1;
    }

    [class^="icon-"], [class*=" icon-"] {
      color: $link-burnt-orange;
      display: inline;
      margin: 0 6px 0 0;
      font-size: 15px;
    }

    .icon-circled-down {
      display: none;
    }

    > li {
      float: left;
      position: relative;

      &.with-menu:hover {
        border-bottom: 0;
        padding-bottom: 6px;

        ul {
          display: block;
        }

        .icon-circled-down {
          display: inline;
        }

        .icon-circled-right {
          display: none;
        }
      }

      a {
        display: block;
        padding: 20px 36px 3px 3px;
        font-style: italic;

        &:hover [class^="icon-"], [class*=" icon-"] {
          text-decoration: none;
          border-bottom: 3px solid $orange;
        }
      }

      &:last-child {
        padding-right: 24px;
      }

      ul {
        display: none;
        position: absolute;
        background: rgba(255, 255, 255, 0.75);
        margin-top: 4px;
        list-style-type: none;
        width: 100%;

        li {
          border: 0;

          &:last-child {
            border-bottom: 0;
          }

          a {
            padding: 6px 6px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .subnav {
    display: block;
    width: 100%;
    padding-bottom: 16px;
    font-size: 14px;
    ul.header-links {
      margin-left: 170px;

      @include media-all-mobile {
        margin-top: 0px;
      }

      > li {
        margin-left: 0px;

        a {
          padding-top: 0;
          padding-top: 0;
        }
      }

    }

    ul li:first-child {
      margin-left: 0;
    }
  }

  @include media-all-mobile {
  .subnav {
    ul.header-links {
      margin-left: 0px;
    }
  }

    @include media-tablet-and-mobile {

      ul.header-links li a {
        margin-right: 0px;
        padding-right: 12px;
        padding-top: 12px;
      }

      ul.header-links li:last-child a {
        padding-right: 0px;
      }
    }
}

 .links {
    margin-top: 12px;
    margin-bottom: 5px;
    //text-align: center;
    padding-left: 102px;


    a {
      font-style: italic;
      margin-right: 12px;
      @include transition(all, 0);
      color: $orange;

      &:hover {
        text-decoration: none;
        border-bottom: 3px solid $orange;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
