.home {
  height: 100%;
  padding-bottom: 0;

  .leaflet-control-zoom {
    top: 70px;
  }

  .nav-bar {

    @include media-all-mobile {
      display:none;
    }

    z-index:9999;
    position: absolute;
    top: 0px;

    width: 100%;
    padding: 0;
    background: rgba(255, 255, 255, 0.75);
    @include transition(top, 0.25s);

    > a {
      padding: 9px 36px 3px 9px;
      display: inline-block;
      float: left;
      border-bottom: 6px solid $orange;
    }

    ul.header-links {
      float: left;
      margin-bottom: 0;

      li {
        list-style-type: none;
        line-height: 1;
      }

      [class^="icon-"], [class*=" icon-"] {
        color: $link-burnt-orange;
        display: inline;
        margin: 0 6px 0 0;
        font-size: 15px;
      }

      .icon-circled-down {
        display: none;
      }

      > li {
        float: left;

        border-bottom: 6px solid $orange;
        //padding-top: 16px;
        position: relative;

        &.with-menu:hover {
          border-bottom: 0;
          padding-bottom: 6px;

          ul {
            display: block;
          }

          .icon-circled-down {
            display: inline;
          }

          .icon-circled-right {
            display: none;
          }
        }

        a {
          display: block;
          padding: 32px 12px 3px 3px;
          font-style: italic;

          &:hover [class^="icon-"], [class*=" icon-"] {
            color: $link-blue-hover;
          }
        }

        &:last-child {
          padding-right: 24px;
        }

        ul {
          display: none;
          position: absolute;
          background: rgba(255, 255, 255, 0.75);
          border-bottom: 6px solid $orange;
          margin-top: 6px;
          list-style-type: none;
          width: 100%;

          li {
            border: 0;
            border-bottom: 2px solid rgba(0, 0, 0, 0.05);

            &:last-child {
              border-bottom: 0;
            }

            a {
              padding: 6px 6px;
              font-size: 16px;
            }
          }
        }
      }
    }

    img {

    }

   .links {
      margin-top: 12px;
      margin-bottom: 5px;
      //text-align: center;
      padding-left: 102px;


      a {
        font-style: italic;
        margin-right: 12px;
        @include transition(all, 0);
        color: $orange;

        &:hover {
          text-decoration: none;
          border-bottom: 3px solid $orange;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

   .show-filter a:hover, .show-filter a:link {
     color: $orange-hover;
   }

  .mobile-info {
    display:none;

    width: 100%;
    z-index:9999;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    border-top: 3px solid $orange;
    bottom:0;

    @include media-all-mobile {
      display:block;
    }

    @media only screen and (min-width: $mobile-media-max-width) {
      display: none !important;
    }

    a.hide-info-mobile {
      display:block;
      text-align:right;
      margin-bottom:5px;
    }

    h2 {
      color: $orange;
      font-style:italic;
      margin-bottom:10px;
      font-size:24px;
    }

    .text {
      margin: 18px;
      margin-top: 9px;
      p {
        font-size:14px;
        margin-bottom:10px;
      }
    }

    .put-on-map {
      float:none;
      a {
        font-size:16px;
        padding: 15px 20px;
      }
    }

    .log-in {
      margin-left:0;
      margin-top:10px;
      float:none;
      font-size:16px;
    }

    .credits {
      margin-top: 12px;
      margin-bottom: -12px;
      font-size: 12px;
      color: #aaa;
      a {
        font-weight: 600;
        font-style: italic;
        color: #aaa;
      }
    }
  }

  .mobile-filter {
    display: none;

    @include media-larger-than-mobile {
      display: none !important;
    }

    width: 100%;
    z-index: 9999;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    border-bottom: 3px solid $orange;
    top:0;
    padding: 6px 0;
    font-size: 16px;
    text-align: center;

    a {
      margin-left: 6px;
    }
  }

  .mobile-small-info {
    display: none;

    @include media-larger-than-mobile {
      display: none !important;
    }

    width: 100%;
    z-index:9999;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    border-top: 3px solid $orange;
    bottom:0;
    .text {
      margin: 9px 18px;
      a.show-info-mobile {
        display:block;
        text-align:right;
      }
    }
  }

  .info {

    z-index:9999;
    position: absolute;
    //left: 216px;
    left: 0px;
    bottom: 0px;
    font-size: 16px;

    background: rgba(255, 255, 255, 0.75);
    border-top: 9px solid $orange;
    @include transition(all, 0.5s);

    @include media-all-mobile {
      display:none !important;
    }

    .text {
      margin: 24px 18px 18px 24px;
    }

    @include media-desktop {
      width: 826px;
    }

    @include media-smaller-than-desktop {
      width: 100%;
    }

    .credits {
      margin-top: 24px;
      margin-bottom: -12px;
      font-size: 14px;
      color: #aaa;

      a {
        font-weight: 600;
        font-style: italic;
        color: #aaa;
      }
    }

    h1 {
      margin-bottom: 24px;
      font-size: 36px;
    }

    a.button {
      margin-top:12px;
    }

    ul { margin-bottom: 12px }
    p {
      margin-bottom: 12px;

      &:first-child {
        font-weight: 600;
        font-style: italic;
        font-size: 20px;
      }
    }

    .put-on-map {
      float:left
    }

    .log-in {
      float:left;
      margin-top:36px;
      margin-left:36px;
      font-size:18px;
      font-weight:600;
      font-style:italic;
    }

  }

  .small-info {
    z-index:9999;
    display: none;
    position: absolute;
    //left: 216px;
    left: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.75);
    border-top: 9px solid $orange;
    padding: 24px;

    @include media-all-mobile {
      display:none !important;
    }

    p.show-more {
      line-height: 1;
      margin-bottom: 18px;
      a {
        //color: #999;
        font-size: 24px;
        font-style: italic;
      }
    }
  }

  .active-organisation {
    position: absolute;
    right: 72px;
    top: -90px;
    background: rgba(255, 255, 255, 0.75);
    border-bottom: 3px solid $orange;
    width: 300px;
    padding: 12px;
    overflow: hidden;
    @include transition(all, 0.5s);
    z-index: 999;

    @include media-all-mobile {
      right: 0;
    }

    p {
      color: #999;
      font-size: 14px;
      margin-bottom: 0;
      line-height: 1;
      margin-bottom: 3px;

      &.name {
        color: $orange;
        font-size: 24px;
        font-style: italic;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .main-panel {
    position: absolute;
    right: 0px;
    top: 59px;
    width: 50%;
    max-width: 600px;
    z-index: 999;

    .main-panel-inner {
      background: rgba(255, 255, 255, 0.75);
      @include transition(all, 0.5s);

      border-left: 1px solid rgba(150,150,150, 0.5);
      border-right: 1px solid rgba(150,150,150, 0.5);

      @include media-all-mobile {
        display:none;
      }

      .filter-section {
        padding: 12px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);

        a {
          font-size: 16px;
          font-weight: normal;
          font-style: italic;
          margin: 0;
          display: inline-block;
          color: $black;
        }

        a.reset {
          font-size: 14px;
          float: right;
          color: $orange;
          line-height: 18px;
        }

        p.browse {
          margin-top: 6px;
          margin-bottom: 0;
          line-height: 1;
          text-align: right;

          a {
            color: $orange;
            font-size: 14px;
          }
        }

        &.expanded {
          .expand-triangle {
            display: none;
          }
          .collapse-triangle {
            display: inline-block;
          }

          .expandable {
            display: block;
          }

          .options {
            display: block;
            padding: 6px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 78px;

            .option {
              line-height: 24px;
              white-space: nowrap;

              label {
                display: inline-block;
                font-size: 14px;
                font-style: normal;
              }

              input {
                margin: 0;
                margin-bottom: 2px;
              }

              input, label {
                vertical-align: middle;
              }
            }
          }
        }

        &.cluster-section {
          .options {
            background: transparent;
            height: auto;
            overflow-x: auto;
          }

          #slider {
            @include border-radius(0);
            border: 0;
            height: 6px;
            background: #ccc;
            width: 192px;
            margin-left: 9px;
            margin-bottom: 6px;

            a {
              @include border-radius(3px);
              border: 0;
              outline: 0;
              cursor: pointer;
              background: $orange;
              height: 18px;
              width: 18px;
              top: -6px;
              margin-left: -9px;
              margin-bottom: -6px;

              &.ui-state-hover {
                background: $orange-hover;
              }

              &.ui-state-active {
                background: $orange-shadow;
              }
            }
          }

          p {
            font-size: 12px;
            color: #999;
            margin-left: -6px;
            margin-right: -6px;
            cursor: default;

            span.left { float: left; }
            span.right { float: right; }
          }
        }

        .options {
          background: rgba(0, 0, 0, 0.05);
          height: 90px;
          margin-top: 6px;
        }

        .expandable {
          display: none;
        }

        .expand-triangle, .collapse-triangle {
          display: inline-block;
          width: 0px;
          height: 0px;
          border-style: solid;
          margin-right: 3px;
        }

        .expand-triangle {
          border-width: 6px 0 6px 9px;
          border-color: transparent transparent transparent #ccc;
          margin-left: 3px;
        }

        .collapse-triangle {
          border-width: 9px 6px 0 6px;
          border-color: #ccc transparent transparent transparent;
          margin-top: 2px;
          margin-right: 6px;
          display: none;
        }
      }

      .filter-button-section {
        text-align: center;
        padding: 12px 0;
        border-bottom: 0;

        .button {
          color: #fff;
          font-size: 18px;
          padding: 12px 24px;

          &:disabled, &[disabled=disabled] {
            background: #ccc
          }

        }
      }

      .filter-share-section {
        padding-top: 0;
        border-bottom: 0;
        p {
          margin: 0;
          color: #999;
          font-size: 16px;
          line-height: 16px;
          text-align: center;

          [class^="icon-"], [class*=" icon-"] {
            font-style: normal;
            margin: 0;
          }

          a {
            color: #888;

            &:hover {
              text-decoration: none;
              color: $orange;
            }
          }
        }

        input {
          display: none;
          padding: 3px;
          font-size: 14px;
          font-family: $chaparral;
          margin: 6px 0 0;
          width: 206px;
        }
      }
    }

    .org-count-label {
      background: $orange;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      padding-top: 4px;
      padding-bottom: 4px;
      color: #fff;
      text-align: center;
    }
  }

  .controls {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 300px;
    right: 0px;
    top: 72px;
    border-top: 3px solid $orange;
    border-bottom: 3px solid $orange;
  }
}
