.index {

  .title {
    @include columns(16);
  }

  ul {
     @include columns(16);
    li {

      display: block;
      padding: 18px;
      background: #eee;
      position: relative;

      &:nth-child(even) {
        background: #f8f8f8;
      }

      .image {
        float: left;
        width: 70px;
        //height: 70px;
        margin-right: 18px;
        position: absolute;
        top: 0;
        bottom: 0;
        //background: rgba(255, 255, 255, 0.75);
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      .details {
        float: left;
        line-height: 1.5;
        max-width: 840px;
        margin-left: 82px;

        .header {
          font-size: 24px;
          font-style: italic;
        }

        .subheader {

        }
      }

      .action {
        float: right;
        width: 240px;
        text-align: right;

        .button {
          font-size: 20px;

        }
      }

    }
  }
}