.index {

  .title {
    @include row();
    @include columns(16);

    h1 {
      @include columns(9);
      margin: 32px 0;
    }

    .search {
      @include columns(6);
      @include offset(1);
      margin: 32px 0;

      .input {
        margin: 0;
        width: 100%;
        input {
          display: inline-block;
          width: 100%;
          //padding-left: 32px;
        }
      }
    }
  }

  ul {
    @include columns(16);
    margin-bottom: 60px;

    li {
      display: block;
      padding: 18px;
      position: relative;
      height: 64px;
      margin-bottom: 18px;

      + li:before {
        content: " ";
        border-top: 10px solid #f8f8f8;
        display: block;
        top: -32px;
        height: 0px;
        position: relative;
      }

      .image {
        float: left;
        width: 70px;
        margin-right: 18px;
        position: absolute;
        top: 0;
        bottom: 0;

        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      .details {
        float: left;
        line-height: 1.5;
        max-width: 840px;
        margin-left: 82px;

        .header {
          font-size: 24px;
          font-style: italic;

          width: 840px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .subheader {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .action {
        float: right;
        width: 240px;
        text-align: right;

        .button {
          font-size: 20px;

        }
      }

    }
  }

  .cta {
    @include columns(15);
    width: 915px;
    padding: 18px;
    background: $light-grey;
    text-align: center;
    color: #7f7f75;
    font-size: 20px;
    font-style: italic;

    span {
      display: inline-block;
      margin-bottom: 12px;
    }

    .button {
      margin-left: 18px;
    }
  }

  .pagination {
    @include columns(16);
    margin: 0 0 60px;
    text-align: center;
    font-size: 20px;

    span {
      text-align: center;
      margin: 0 9px;

      &.page, &.current {
        margin: 0 3px;       
      }

      a, &.current {
        padding: 6px 12px;
      }
    }
  }

  .no-results {
    @include columns(16);
    color: #999;
    margin: 18px 10px 60px;
    font-size: 24px;
    font-style: italic;
  }
}
