.tree {
  figcaption {
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;
    margin-top: 0px;

    h3, h4 {
      font-family: "chaparral-pro", sans-serif;
      font-weight: normal;
      margin-bottom: 12px;
    }

    h4 {
      color: rgba(255,255,255,0.5);
      font-size: 16px;
    }

    h4.instructions {
      margin-bottom: 12px;
    }

    &.show-row h3 {
      font-size: 100%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    .left-column, ul {
      margin-bottom:0 !important;
    }
  }
}

ul.legend {
  li {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    line-height: 34px;
    height: 34px;
  }

  li:before {
    content: "•";
    font-size: 80px;
    vertical-align: middle;
    line-height: 28px;
    margin-right: 6px;
  }

  li.activity:before {
    content: "\0000a0";
    width:28px;
    line-height: 14px;
    display: inline-block;
    margin-right: 8px;
    background: #fff;
  }

  li.activity {
    font-size: 18px;
    text-align: top;
    display: inline;
  }

  li.academia-and-research:before {
    color: #00ffe6;
  }

  li.business:before {
    color: #ff9437;
  }

  li.government-and-public-sector:before {
    color: #d4d1fd;
  }

  li.grass-roots-organisation-or-community-network:before {
    color: #ff38fa;
  }

  li.social-enterprise-charity-or-foundation:before {
    color: #b2ff56;
  }

  li.undefined:before {
    color: #ffff57;
  }
}

.frame.legend-panel {
  z-index: 9999;
  position: absolute;
  bottom: 0px;
  left: 12px;
  width: 330px;

  border-left: 2px solid $new-green;
  border-right: 2px solid $new-green;

  @include transition(bottom, 0.5s);
  @include media-all-mobile {
    display:none !important;
  }

  &.minimized {
    bottom: -216px;
  }

  a.toggle-bar {
    display: block;
    background: $new-green;
    font-size: 14px;
    font-weight: normal;
    
    padding: 4px;
    color: #000;
    text-align: center;
    height: 14px;
    text-decoration: none;

    .org-count-value {
      font-weight:bold;
    }
  }

  ul.legend {
    margin-bottom: 12px;
    margin-left: 4px;
  }
}
