.tree {
  figcaption {
    border-bottom: 4px solid $orange;
    padding-bottom: 12px;
    margin-top: 0px;

    h3, h4 {
      font-family: "chaparral-pro", sans-serif;
      font-weight: normal;
      margin-bottom: 3px;
    }

    h4 {
      color: #999;
      font-style: italic;
      font-size: 16px;
    }

    h4.instructions {
      margin-bottom: 12px;
    }

    &.show-row h3 {
      font-size: 100%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    .left-column, ul {
      margin-bottom:0 !important;
    }
  }
}

ul.legend {
  li {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    line-height: 34px;
    height: 28px;
  }

  li:before {
    content: "•";
    font-size: 80px;
    vertical-align: middle;
    line-height: 28px;
    margin-right: 10px;
  }

  li.activity:before {
    content: "\0000a0";
    border: 2px solid $light-grey;
    width:28px;
    line-height: 14px;
    display: inline-block;
    margin-right: 8px;
  }

  li.activity {
    font-size: 14px;
    text-align: top;
    display: inline;
  }

  li.academia-and-research:before {
    color: #1b9e77;
  }

  li.business:before {
    color: #d95f02;
  }

  li.government-and-public-sector:before {
    color: #7570b3;
  }

  li.grass-roots-organisation-or-community-network:before,
  li.grass-roots-organization-or-community-network:before {
    color: #e7298a;
  }

  li.social-enterprise-charity-or-foundation:before {
    color: #66a61e;
  }

  li.undefined:before {
    color: #e6ab02;
  }
}

.frame.legend-panel {
  z-index: 9999;
  position: absolute;
  bottom: 0px;
  left: 12px;
  width: 330px;

  border-left: 2px solid $orange;
  border-right: 2px solid $orange;

  @include transition(bottom, 0.5s);
  @include media-all-mobile {
    display:none !important;
  }

  &.minimized {
    bottom: -180px;
  }

  a.toggle-bar {
    display: block;
    background: $orange;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    padding: 4px;
    color: #fff;
    text-align: center;
    height: 14px;

    .org-count-value {
      font-weight:bold;
    }
  }

  ul.legend {
    margin-bottom: 12px;
    margin-left: 4px;
  }
}
