#main {

  width: 960px;

  .title {
    padding: 72px 18px 18px;
    color: #fff;
    @include border-radius(3px);
    background: url(image-path("header-map.png")) no-repeat;
    margin-bottom: 60px;

    h1 {
      display: inline;
      background: rgba(0, 0, 0, 0.5);
      padding: 0 12px;
      @include border-radius(3px);
      line-height: 48px;
    }
  }

  #banner {
    width: 960px;
    height: 400px;
    @include border-radius(3px);
    position: relative;
    margin-bottom: 48px;

    .text {
      position: absolute;
      left: 36px;
      bottom: 36px;
    }

    h1, h2 {
      color: #FFFFFF;
      background: rgba(0, 0, 0, 0.5);
      float: left;
      display: inline;
      margin: 0;
    }

    h1 {
      font-size: 48px;
      padding: 12px 12px 6px;
    }

    h2 {
      font-size: 24px;
      padding: 6px 12px 12px;
    }
  }
  
  #content {

    h1 {
      background: none;
      color: $black;
      padding: 0;
    }
  }

  #sidebar {
    padding: 30px;
    background: $lblue;
    @include border-radius(3px);

    p.intro {
      color: $dblue;
      font-size: 16px;
      line-height: 1.2;
    }

    p.twitter {
      background: url(image-path("icons/twitter.png")) no-repeat;
      line-height: 30px;
      padding-left: 48px;
      margin-bottom: 18px;
    }

    p.mail {
      background: url(image-path("icons/mail.png")) no-repeat;
      line-height: 24px;
      padding-left: 48px;
      margin-bottom: 36px;
    }

    a.button {
      display: block;
      text-align: center;
      color: #fff;
      @include border-radius(3px);
      background: $dblue;
      padding: 12px 0;
      font-weight: bold;
      font-size: 24px;

      &:hover {
        background: $dblue-hover;
      }
    }
  }
}