#home {

  #map {
    @include columns(16);
  }

  .banner {
    position: absolute;
    top: 400px;
    left: 320px;
    font-size: 20px;
    background: rgba(100,100,100,0.8);
    color: white;
    padding: 24px;
  }

  .about {
    @include columns(16);
  }
}

#about, #terms, #privacy, #page {

  #content {
    @include columns(10);
  }

  .page {
    + .page {
      margin-top: 90px;
    }

    .title {
      p {
        font-size: 36px;
        margin-bottom: -18px;
        font-weight: 300;
        margin-top: 36px;
        line-height: 1;
        
        color: rgba(255,255,255,0.7);
      }
    }

    h4 {
      font-weight: normal;
      
      font-size: 24px;
      margin: 60px 0 18px;
    }

    .attachments li {
      padding-left: 16px;
      text-indent: -16px;
      margin-bottom: 16px;
      line-height: 1.2;
    }
  }

  .page-intro {
    margin-bottom: 72px;

    h2 {
      margin-bottom: 0px;
    }

    p {
      &.subheader {
        color: rgba(255,255,255,0.7);
        margin: 6px 0 18px;
        line-height: 1.3;
        padding-left: 12px;
        text-indent: -12px;

        strong {
          font-weight: normal;
        }
      }
    }

  }

}

#events {

  padding: 0 0 48px 0;

  .events-row {
    @include row;
    padding: 38px 0;

    &.grey {
      background: #f1f3f2;
    }

    .middle-line {
      position: absolute;
      top: 0;
      bottom: 0;
      border-left: 1px solid #111;
      left: 50%;

    }

    ul.timeline {
      position: relative;
      list-style-type: none;
      padding: 0;
      //background: url(image-path("dot2.png")) repeat-y 288px 0px;
      //margin: 0 60px;

      //@include media-all-mobile {
      //   background: url(image-path("dot2.png")) repeat-y 0px 0px;
      //}

      li.year {
        margin-bottom: 32px;
        text-align: center;
        margin-top: 60px;

        span {
          background: #111;
          color: #fff;
          padding: 6px 18px;
          display: inline-block;
          text-align: center;
        }

        &:first-child {
          margin-top: 0;
        }
      }


      li.event {
        //margin-left: 288px;
        //padding-left: 82px;
        //background: url(image-path("dot2.png")) repeat-x 0 0;
        //line-height: 16px;
        //margin-bottom: 56px;
        //width: 40%;
        //right: 0;
        position: relative;
        @include clearfix;

        @include media-all-mobile {
          margin-left:0;
        }

        

        &:nth-child(odd) {
          .event-content {
            float: left;

            .divider {
              .plus {
                left: 0;
              }
              .circle {
                right: -8px;
              }
            }
          }
        }

        &:nth-child(even) {
          .event-content {
            float: right;

            .divider {
              .plus {
                right: 0;
              }
              .circle {
                left: -8px;
              }
            }
          }
        }

        .event-content {
          background: #fff;
          padding: 0;
          width: 50%;

          a {
            color: $black;
          }

          p.name {
            color: $black;
            margin-bottom: 0;
          }

          p {
            line-height: 1.3;
            margin-bottom: 0;
            padding-left: 72px;
          }

          p.date {
            color: #999;
          }

          .divider {
            position: relative;
            border-bottom: 1px solid #111;
            padding-top: 12px;
            margin-bottom: 12px;

            .plus {
              position: absolute;
              background: #111;
              height: 28px;
              width: 28px;
              border-radius: 50%;
              color: #fff;
              line-height: 30px;
              text-align: center;
              bottom: -14px;
              text-decoration: none;
            }

            .circle {
              position: absolute;
              background: #111;
              height: 16px;
              width: 16px;
              border-radius: 50%;
              color: #fff;
              bottom: -8px;
            }
          }
        }

        + li.month {
          margin-top: 88px;
        }
      }
    }
  }
}

#blog {

  .blog-post {

    + .blog-post {
      margin-top: 60px;
    }

    .title {
        @include columns(16);
        h1 {
            @include columns(9);
            margin-left: 0;
            margin-top: 0;
            @include media-all-mobile {
                margin-bottom: 32px;
            }
        }

        h2 {
            @include offset(10);
            margin-top: 40px;
            padding-left: 570px;
            @include media-all-mobile {
                margin-bottom: 32px;
            }
        }

        p {
          font-size: 36px;
          font-weight: 300;
          margin-top: 24px;
          margin-bottom: 24px;
          line-height: 1;
          
          color: rgba(255,255,255,0.7);
        }
    }

    .blog-content {
        @include columns(9);

        img {
          max-width:100% !important;
          height:auto;
          display:block;
        }

        blockquote {
          
          padding-left: 24px;
          margin-right: 48px;
        }
    }

    .blog-meta {
        @include offset(10);

        margin-left: -20px;
        img {
            margin: 6px 0 4px;
            @include border-radius(50%);
        }

        > p {
            margin-bottom: 0;
            line-height: 28px;
        }

        .author {
            font-weight: bold;
        }

        .author-role {
            color: rgba(255,255,255,0.7);
            
        }
    }

    .blog-tags {
      color: #ccc;
    }

  }

}

#disqus_thread {
  margin-top: 90px;
}

#terms {
  h3 {
    font-weight: normal;
    
  }

  p + h3 {
    margin-top: 60px;
  }

  li {
    margin-bottom: 18px;
  }
}
