#home {
  #banner {
    background: url(image-path("home-map.png")) no-repeat;
  }

  #content {
    p:first-child {
      font-weight: bold;
      font-size: 24px;
    }
  }
}

#about {
  #banner {
    background: url(http://placehold.it/960x400) no-repeat;
  }
}