.search .input {
  margin: 0;
  input {
    display: inline-block;
    width: 190px;
  }
}

.nav-bar .search {
  .input {
    margin-left: 100px;
    input {

    }
  }
}

.index .input {
  input {
    width: 100%;
  }
}
