ul.tagit {
  // make it look like an input!
  //background: $new-blue;
  padding:12px;
  border: 2px solid rgba(0,0,0,0.2);
  outline: none;
  @include transition(all, 0.15s);
  font-size:18px;
  border-radius: 0;
  color: #fff;

  &.focused {
    background: #ffffe0;
  }
}

ul.tagit li {

  &.tagit-new {
    input[type="text"], input[type="text"]:focus {
      // new tags
      border:none;
      background: transparent;
      font-size:18px;
    }
}

  &.tagit-choice {
    background-image: none;
    background-color: #ddd;
    @include border-radius(0);
    border: 0;
    font-family: $scene-medium;
    span {
      // a chosen tag.
      padding-top:2px;
      display:block;
      line-height: 18px !important;
      font-size:16px !important;
      //background-color: #ddd;
    }
  }

}

ul.ui-autocomplete {
  li {
    a {
      font-family: $chaparral;
      font-size:16px !important;
      &.ui-state-focus {
        background: darken($very-light-grey, 5%);
        border: $mid-grey;
      }
    }
  }
}