ul.tagit {
  // make it look like an input!
  background: $very-light-grey;
  padding:12px;
  border: 2px solid transparent;
  outline: none;
  border-top: 2px solid #ddd;
  @include transition(all, 0.15s);
  font-size:18px;
  border-radius: 0;

  &.focused {
    border: 2px solid $orange;
    background: rgba(243, 146, 0, 0.1);
  }
}

ul.tagit li {

  &.tagit-new {
    input[type="text"], input[type="text"]:focus {
      // new tags
      border:none;
      background: transparent;
      font-size:18px;
    }
}

  &.tagit-choice {
    background-image: none;
    background-color: darken($very-light-grey, 5%);
    span {
      // a chosen tag.
      padding-top:2px;
      display:block;
      line-height: 18px !important;
      font-size:16px !important;
      font-family: $chaparral;
      background-color: darken($very-light-grey, 5%);
    }
  }

}

ul.ui-autocomplete {
  li {
    a {
      font-family: $chaparral;
      font-size:16px !important;
      &.ui-state-focus {
        background: darken($very-light-grey, 5%);
        border: $mid-grey;
      }
    }
  }
}