form
  margin-bottom: 60px

  label
    width: 180px
    display: inline-block

  .button
    margin-left: 180px

  .input
    margin-bottom: 18px

  input
    padding: 6px
    font-size: 100%

  select
    font-size: 100%

  .button
    background: #22aac8
    color: #fff
    padding: 12px 24px
    border: 0
    @include border-radius(6px)

table
  th, td
    padding: 6px 12px

h3
  color: #999
  margin-bottom: 30px
  font-size: 30px
