#user-info {
  position:absolute;
  right: 0;
  background: $very-light-grey;

  @include media-all-mobile {
    position:relative;
  }

  a.current-user {
    text-align:center;
    display:block;
    padding: 12px 24px;
    color: $black;
  }

  .expanded {
    font-size: 14px !important;

    .log-out {
      padding: 12px;
      text-align:center;
      a.button {
        font-size: 14px;
        padding: 5px;
      }
    }

    .orgs {
      p {
        padding: 0px;
        margin:0;
        text-align:center;
      }
      ul {
        list-style-type:none;
        margin:0;
        padding:0;
        li {
          a {
            display:block;
            margin:0;
            color: white;
          }

          &.current {
            font-weight: 600;
          }

          margin:0;
          padding: 6px 24px;
          border-top: 1px solid $light-grey;
          &:nth-child(odd) {
            background: lighten($blue, 50%)
          }
          &:nth-child(even) {
            background: lighten($blue, 40%)
          }
          &:last-child {
            border-bottom: 1px solid $light-grey;
          }
        }
      }
    }


  }

}