$chaparral: "chaparral-pro", sans-serif;

$orange: #F39200;
$orange-hover: #e88c02;
$orange-shadow: #d07d01;

$green: #5cad85;
$green-hover: #519e79;
$green-shadow: #4b8f6e;

$red: #BE1622;
$red-hover: #ac1420;

$blue: #004F9F;
$pink: #E6007E;
$brown: #B07E4A;

$dark-grey: #666;
$mid-grey: #bbb;
$light-grey: #ddd;
$very-light-grey: #eee;

$link-blue: #5982ab;
$link-blue-hover: #3d5a76;

// To be removed
$lato: "Lato", sans-serif;
$dblue: #22AAC8;
$lblue: #E3F4F8;
$mblue: #A3D9E5;
$black: #444444;
$dblue-hover: #188AA4;