$chaparral: "chaparral-pro", sans-serif;

$orange: #F39200;
$orange-hover: #e88c02;
$orange-shadow: #d07d01;

$green: #008D36;
$green-hover: #008032;
$green-shadow: #00702d;

$blue: #004F9F;
$red: #BE1622;
$pink: #E6007E;
$brown: #B07E4A;

$dark-grey: #666;


// To be removed
$lato: "Lato", sans-serif;
$dblue: #22AAC8;
$lblue: #E3F4F8;
$mblue: #A3D9E5;
$black: #444444;
$dblue-hover: #188AA4;