$chaparral: "chaparral-pro", sans-serif;
$orange: #F39200;
$blue: #004F9F;
$red: #BE1622;
$pink: #E6007E;
$green: #008D36;
$brown: #B07E4A;

// To be removed
$lato: "Lato", sans-serif;
$dblue: #22AAC8;
$lblue: #E3F4F8;
$mblue: #A3D9E5;
$black: #444444;
$dblue-hover: #188AA4;