/* Structure */
.breadcrumbs {

  @include columns(16);

  float: none;
  display: block;
  list-style: none;
  overflow: hidden;
  font-size: 20px;
  margin-left: 0;
  height: 46px;
  line-height: 38px;
  margin-bottom: 30px;
  font-weight: 300;
  font-style: italic;

  li {
    float: left;
    margin-bottom: 0;

    span {
      padding: 5px 7px 5px 62px;
      position: relative;
      display: block;
      float: left;

      b {
        font-weight: 600;
      }

      &:after, &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left-width: 30px;
        border-left-style: solid;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
      }

      &:after {
        z-index: 2;
      }

      &:before {
        margin-left: 6px; /* margin-left = spacing between arrows */
        z-index: 1;
      }
    }

    &:first-child span {
      padding-left: 30px;
    }


    &:only-child span {
      padding-right: 15px;
    }
  }

}

// non-desktop breadcrumbs
@include media-smaller-than-desktop {
  .breadcrumbs {

    height:auto;
    margin-bottom: 30px;
    li {
      line-height:29px;
      float:none;
      display:inline-block;
      overflow: visible;

      span {
        padding: 5px !important;
        float: none;
        display:inline;
        overflow: visible;
        &:after, &:before {
          display:none;
        }
      }
    }
  }
}

/* Colours */

.breadcrumbs {
  li {
    span {
      color: #fff;
      background: #ccc;

      &:before {
        border-left-color: #fff; /* Gaps between crumbs are page background colour */
      }

      &:after { border-left-color: #ccc; }

      &:hover {
        //background: #000 !important; /* Default hover */

        &:after {
          //border-left-color: #000 !important; /* same as li span background */
        }
      }
    }

    &.active {
      span {
        background: $orange;
        &:after { border-left-color: $orange; }
        font-style: normal;
        font-weight: normal;
      }
    }

    &.complete {
      span {
        background: #fccb8d;
        &:after { border-left-color: #fccb8d; }
      }
    }
  }
}

.wizard-intro {
  @include columns(16);
  p {
    font-size: 16px;
    color: $dark-grey;
  }
  margin-bottom:6px;
  @include clearfix;
}

.suggestions {

  margin-bottom: 60px;
  display: none;

  .suggestion {

    display: block;
    padding: 12px;
    background: #fff2e3;

    &:nth-child(even) {
      background: #fffaf4;
    }

    .image {
      float: left;
      width: 70px;
      height: 70px;
      margin-right: 12px;
      background: rgba(255, 255, 255, 0.75);
    }

    .messages {
      clear:left;
      float:right;
      padding-top:12px;
      &.error {
        color: $red;
      }
    }

    .details {
      float: left;
      line-height: 1.5;

      .header {
        font-weight: 600;
        font-size: 24px;
      }

      .subheader {
        font-style: italic;
      }
    }

    .action {
      float: right;
      width: 240px;
      text-align: right;

      .button {
        font-size: 20px;
        margin-top: 12px;
        margin-right: 12px;
      }
    }

    &.current, &.requested {
      .action {
        display:none;
      }
    }

  }

  .suggestion-template {
    display: none;
  }

}

.skip-wizard {
  display: block;
  padding: 12px;
  background: #ffffe0;
  margin-bottom: 48px;

  span {
    line-height: 44px;
    padding-left: 12px;
    color: #b2b2a0;
  }

  .button {
    float: right;
    font-size: 20px;
  }
}

.wizard-button-wrapper {

  @include columns(16);

  input.button {
    float:right;
  }
}

form .input.invite-row {

  display: none;

  input[type=text], input[type=email] {
    display: inline-block;
  }

  &.invite-row-visible {
    display: block;
  }

}

#map {
  @include columns(16);
  height: 500px;
  margin-bottom:36px !important;
  @include media-all-mobile {
    height: 300px;
  }
}

#map-messages-wrapper {
  @include columns(16);
  background: $very-light-grey;
  &.error {
    background: $red;
    color: #fff;
  }
  #map-messages {
    margin: 6px 12px;
    font-style:italic;
  }
}
