.hr.hr3.hr-full

%footer.clearfix

  .credits
    %div.copyright
      %a{ href: "https://twitter.com/digi_si" }
        = image_tag "cc.png"

      %span
        &copy;
        = Time.now.year
        #{link_to 'Digital Social Innovation', '/about'}.

    %div.contact
      %span.twitter
        %i.icon-social-twitter
        %a{ href: "https://twitter.com/digi_si" }
          @digi_si

      %span.email
        %a{ href: "mailto:contact@digitalsocial.eu" }
          %i.icon-paper-plane
          contact@digitalsocial.eu

  %nav
    %div{style:'font-size:14px; float:right;'}
      %a{ href: "/terms" }
        Terms of Use

      %a{ href: "/privacy" }
        Privacy &amp; Cookies
