.hr.hr3.hr-full

%footer.clearfix
  
  .credits
    &copy; 2013 Digital Social Innovation. Built By #{link_to 'Swirrl', 'http://swirrl.com'}

  %nav
    %a{ href: "https://twitter.com/digi_si" }
      
      @digi_si

    %a{ href: "mailto:contact@digitalsocial.eu" }
      
      contact@digitalsocial.eu

    %a{ href: "/blog" }
      
      Blog

    %a{ href: "/about" }
      
      About

    %a{ href: "/events" }
      
      Events