#footer
  .container.clearfix
    .copy
      &copy; 2013 Digital Social Innovation
    .links
      %a{ href: "https://twitter.com/digi_si" }
        = image_tag "icons/footer-twitter.png", alt: "Twitter"
      
      %a{ href: "mailto:contact@digitalsocial.eu" }
        = image_tag "icons/footer-mail.png", alt: "Email"
      
      %span
        Built by
        %a{ href: "http://www.swirrl.com" } Swirrl