.hr.hr3.hr-full

%footer.clearfix

  .credits
    %div.copyright
      %span
        &copy; 2013 #{link_to 'Digital Social Innovation', '/about'}. Built by #{link_to 'Swirrl', 'http://swirrl.com'}.

    %div.contact
      %span.twitter
        %i.icon-social-twitter
        %a{ href: "https://twitter.com/digi_si" }
          @digi_si

      %span.email
        %a{ href: "mailto:contact@digitalsocial.eu" }
          %i.icon-paper-plane
          contact@digitalsocial.eu

  %nav

    %a{ href: "/blog" }
      Blog

    %a{ href: "/about" }
      About

    %a{ href: "/events" }
      Events

    %a{ href: "http://data.digitalsocial.eu" }
      Open Data