= render 'user_info'

#header.clearfix
  .logo-wrapper
    %a.logo{ href: '/' }

  .menu
    .menu-items
      %a{ href: '/about' } About us
      %a{ href: '/events' } Events
      %a{ href: '/blog' } Blog

.hr3