= render 'user_info'

#header.clearfix
  .logo-wrapper
    %a.logo{ href: '/' }

  .menu
    .menu-items
      %a{ href: '/organisations' } Organisations
      %a{ href: '/projects' } Activities

.hr3