<script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=213569(font-family=Scene+Std+Bold)&sid=213572(font-family=Scene+Std+Light)&sid=213574(font-family=Scene+Std+Medium)&sid=213585(font-family=Scene+Pro+Regular)&key=6zRhquRpFY',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>