.suggestions
  %p.remove-if-org= help.html_safe

  .suggestion-template.clearfix
    .image
      = image_tag 'http://placehold.it/70x70'

    .details
      .header
      .subheader

    .messages

    .action
      = link_to button_text, '#', class: 'button'
