.suggestions
  %p Did you mean...

  .suggestion-template.clearfix
    .image
      = image_tag 'http://placehold.it/70x70'

    .details
      .header
      .subheader

    .messages

    .action
      = link_to button_text, action_url_template, class: 'button'