= content_tag :p, id: p_id, class: 'suggested-tags' do
  Suggestions (click to add):
  = tag_class.top_level_concepts.map(&:label).reject{|tag| tag.downcase == "other" }.map { |tag| "<a href='#'>#{tag}</a>" }.join(", ").html_safe
